In [107]:
import pandas as pd
from datetime import datetime as dt

In [44]:
# Importing suggestions of earlier exploratory data analysis

with open('Dataframe cleaning suggestions.txt', 'r') as file:
    data = file.read().replace('\n', ' || ')
    
data

'After removing special labels, check negative value representation and sum them accordint to the custoemr || Remove Special labels as they represents small values || Remove all null value customers || '

In [45]:
customer_df = pd.read_csv('data.csv')
customer_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

# Data Cleaning

### Removing customers having a null ID

In [46]:
print(customer_df.isna().sum())
print(customer_df.shape)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64
(541909, 8)

In [47]:
customer_df = customer_df[customer_df.CustomerID.notnull()]
print(customer_df.isna().sum())
print(customer_df.shape)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64
(406829, 8)

### Removing special labels

In [48]:
# In the previous analysis we have found that following special doing a little for customer transactions
# are in on the record of customer data.

def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)


stockcd = customer_df['StockCode'].unique()

special_labels = []

for i in range(0,len(stockcd)):
    if hasNumbers(stockcd[i])==False:
        special_labels = np.append(special_labels, stockcd[i])

special_labels

array(['POST', 'D', 'M', 'BANK CHARGES', 'PADS', 'DOT', 'CRUK'],
      dtype='<U32')

In [49]:
# number of rows having special lables and cleaning of special lavels
print('Number of rows having Special Labels')
print(len(customer_df.loc[customer_df['StockCode'].isin(special_labels)]))

print('Number of rows not having Special Labels')
print(len(customer_df.loc[~customer_df['StockCode'].isin(special_labels)]))

customer_df = customer_df.loc[~customer_df['StockCode'].isin(special_labels)]
customer_df.shape

print('Number of rows having Special Labels After cleaning')
print(len(customer_df.loc[customer_df['StockCode'].isin(special_labels)]))

Number of rows having Special Labels
1786
Number of rows not having Special Labels
405043
Number of rows having Special Labels After cleaning
0

In [50]:
405043+1786

406829

### Checking with negative Values and removing them

In [51]:
print('Percentage of negative value rows')
print(len(customer_df.loc[customer_df['Quantity']<0])*100/len(customer_df))

Percentage of negative value rows
2.108418118570127

In [52]:
print('Percentage of transactions of negative values, in terms of total value')
temp_df = customer_df
temp_df['Value'] = customer_df['Quantity']*customer_df['UnitPrice']

revanue = sum(temp_df['Value'])

negative_df = customer_df.loc[customer_df['Quantity']<0]

total_negative = sum(negative_df['Value'])

print(total_negative*100/revanue)

Percentage of transactions of negative values, in terms of total value
-5.720923744493583

This is a decreased value after the cleaning has done. We will remove the negative values as it is a case for reviewing the return policy of the company as in the earlier analysis we saw that these negaive values contains a returning goods.

In [53]:
print('Number of negative value rows before cleaning')
print(len(customer_df.loc[customer_df['Quantity']<0]))

customer_df = customer_df.loc[customer_df['Quantity']>0]
print('Number of rows after cleaning')
customer_df.shape

Number of negative value rows before cleaning
8540
Number of rows after cleaning

(396503, 9)

In [54]:
405043 -8540

396503

In [55]:
# Are there any negative values, in temp_df
for column in customer_df.columns:
    try:
        print('Number of negaitve values in the column, '+str(column)+ ' : '+
              str(len(customer_df.loc[customer_df[column]<0])))
    except Exception:
        pass

Number of negaitve values in the column, Quantity : 0
Number of negaitve values in the column, UnitPrice : 0
Number of negaitve values in the column, CustomerID : 0
Number of negaitve values in the column, Value : 0

### Removing uncategorizd country

In [56]:
customer_df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Israel', 'Saudi Arabia', 'Czech Republic',
       'Canada', 'Unspecified', 'Brazil', 'USA', 'European Community',
       'Bahrain', 'Malta', 'RSA'], dtype=object)

In [57]:
customer_df = customer_df.loc[customer_df.Country != 'Unspecified']
customer_df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Israel', 'Saudi Arabia', 'Czech Republic',
       'Canada', 'Brazil', 'USA', 'European Community', 'Bahrain',
       'Malta', 'RSA'], dtype=object)

In [58]:
customer_df.shape

(396259, 9)

# Data Wranggling

In [92]:
customeredit_df = customer_df
customeredit_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Value,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30,2010-12-01,8
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00,2010-12-01,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8

### Extracting time, data and weekday from the InvoiceDate column.

In [93]:
customeredit_df[['Date','Time']] = customeredit_df.InvoiceDate.str.split(expand = True)
customeredit_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Value,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30,12/1/2010,8:26
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,12/1/2010,8:26
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00,12/1/2010,8:26
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,12/1/2010,8:26
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,12/1/2010,8:26

In [94]:
customeredit_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396259 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    396259 non-null  object
 1   StockCode    396259 non-null  object
 2   Description  396259 non-null  object
 3   Quantity     396259 non-null  int64
 4   InvoiceDate  396259 non-null  object
 5   UnitPrice    396259 non-null  float64
 6   CustomerID   396259 non-null  float64
 7   Country      396259 non-null  object
 8   Value        396259 non-null  float64
 9   Date         396259 non-null  object
 10  Time         396259 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 44.3+ MB

In [95]:
# Let's formate Date into Date type.
customeredit_df.Date = pd.to_datetime(customeredit_df.Date)
customeredit_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Value,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30,2010-12-01,8:26
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8:26
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00,2010-12-01,8:26
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8:26
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8:26

In [99]:
customeredit_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396259 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    396259 non-null  object
 1   StockCode    396259 non-null  object
 2   Description  396259 non-null  object
 3   Quantity     396259 non-null  int64
 4   InvoiceDate  396259 non-null  object
 5   UnitPrice    396259 non-null  float64
 6   CustomerID   396259 non-null  float64
 7   Country      396259 non-null  object
 8   Value        396259 non-null  float64
 9   Date         396259 non-null  datetime64[ns]
 10  Time         396259 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 44.3+ MB

In [97]:
# Apply floor function to time
customeredit_df[['Time']] = customeredit_df.Time.str.split(':').str[0]

In [98]:
customeredit_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Value,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30,2010-12-01,8
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00,2010-12-01,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8

In [118]:
# get the weekday
customeredit_df['Weekday'] = customeredit_df['Date'].dt.day_name()

customeredit_df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Value,Date,Time,Weekday
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20,2011-12-09,12,Friday
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60,2011-12-09,12,Friday
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60,2011-12-09,12,Friday
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60,2011-12-09,12,Friday
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85,2011-12-09,12,Friday

In [120]:
# get the month
customeredit_df['Month'] = customeredit_df['Date'].dt.month_name()
customeredit_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Value,Date,Time,Weekday,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30,2010-12-01,8,Wednesday,December
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8,Wednesday,December
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00,2010-12-01,8,Wednesday,December
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8,Wednesday,December
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8,Wednesday,December

# Saving the dataframe as a CSV

In [123]:
customeredit_df.to_csv('Customer Data Cleaned.csv', index=False)

In [124]:
# chech saved csv
pd.read_csv('Customer Data Cleaned.csv').head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Value,Date,Time,Weekday,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30,2010-12-01,8,Wednesday,December
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8,Wednesday,December
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00,2010-12-01,8,Wednesday,December
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8,Wednesday,December
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34,2010-12-01,8,Wednesday,December