In [5]:
import pandas as pd
import numpy as np

In [2]:
customer_df = pd.read_csv('/home/mendis/Documents/Tutorials/coustomer segmentation/data.csv')

suggestions_cleaning = []

## Data exploration

### Basic data exploration

In [4]:
customer_df.shape

(541909, 8)

In [5]:
customer_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

From the Date column we can derive the date, time and weekday with some calcualtion. If Stock code points to a unique order type, we can remove the Description column. Noticed that the invoiceno is repeated. So another data frames can be created for unique invoice numbers and uniqe customer ID.

In [6]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [7]:
customer_df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [8]:
customer_df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [9]:
customer_df.isnull().sum()['CustomerID']*100/len(customer_df)

24.926694334288598

24% of customer IDs are null. Further investigation is needed.

In [10]:
print('Unique values of each columns\n')

dataframe = customer_df

for column in dataframe.columns:
    unique = len(customer_df[column].unique())
    print(str(column) + ' : '+ str(unique))

Unique values of each columns

InvoiceNo : 25900
StockCode : 4070
Description : 4224
Quantity : 722
InvoiceDate : 23260
UnitPrice : 1630
CustomerID : 4373
Country : 38

### Investigation of negative Quantities

Can quantity or Unit price be a negative value? Or this represents a return of items? or some error. And notice that min order and max order has the same value.

In [11]:
customer_df.loc[customer_df['Quantity']<0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

In [12]:
# it seems like there are 10624 records of negative values. Let's investigate. The primary hypothesis is these are 
# returns of goods made for pervious purchases and Discounts.

In [13]:
len(customer_df.loc[customer_df['Quantity']<0])

10624

In [14]:
# total value as a percentage
temp_df = customer_df
temp_df['Value'] = customer_df['Quantity']*customer_df['UnitPrice']

revanue = sum(temp_df['Value'])

negative_df = customer_df.loc[customer_df['Quantity']<0]

total_negative = sum(negative_df['Value'])

print(total_negative*100/revanue)

-9.200201893522904

In [60]:
index_negative = customer_df.loc[customer_df['Quantity']<0].index.tolist()

count = []
for index in index_negative:
    customer = customer_df.iloc[index]
    customer_id = customer['CustomerID']
    description = customer['Description']
    previous_purchases_description = customer_df.loc[(customer_df['CustomerID']== customer_id) & 
                                                     (customer_df.index < index)]['Description'].tolist()
    if description in previous_purchases_description:
        count = np.append(count, 1)
    else:
        count = np.append(count, 0)
print(sum(count))
print(len(count))
print(sum(count)*100/len(count))

7705.0
10624
72.52447289156626

72% of negative values represents returns and this percentage increases when we did not take values in the begining of the year.

In [91]:
suggestions_cleaning = np.append(suggestions_cleaning,
          'After removing special labels, check negative value representation and sum them accordint to the custoemr')
suggestions_cleaning

array(['After removing special labels, check negative value representation and sum them accordint to the custoemr'],
      dtype='<U105')

### Investigating special labels in Stock Codes such as M and D

In [4]:
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)


stockcd = customer_df['StockCode'].unique()

special_labels = []

for i in range(0,len(stockcd)):
    if hasNumbers(stockcd[i])==False:
        special_labels = np.append(special_labels, stockcd[i])

special_labels

array(['POST', 'D', 'DOT', 'M', 'BANK CHARGES', 'S', 'AMAZONFEE', 'm',
       'DCGSSBOY', 'DCGSSGIRL', 'PADS', 'B', 'CRUK'], dtype='<U32')

In [146]:
# let's check description of for special labels, frequency of occurance and total value.
temp_df = customer_df
temp_df['Value'] = customer_df['Quantity']*customer_df['UnitPrice']

revanue = sum(temp_df['Value'])

for label in special_labels:
    description = customer_df.loc[customer_df['StockCode']==label]['Description'].unique()
    frequecny = len(customer_df.loc[customer_df['StockCode']==label]['Description'])
    percentage = sum(temp_df.loc[temp_df['StockCode']==label]['Value'])*100/revanue
    print('label and description : '+str(label)+ str(description))
    print('frequency : '+str(frequecny) + ' percentage : '+str(percentage))

label and description : POST['POSTAGE' nan]
frequency : 1256 percentage : 0.6794455544851231
label and description : D['Discount']
frequency : 77 percentage : -0.05843626690560821
label and description : DOT['DOTCOM POSTAGE' nan]
frequency : 710 percentage : 2.1158269725107677
label and description : M['Manual']
frequency : 571 percentage : -0.7045133959654735
label and description : BANK CHARGES['Bank Charges']
frequency : 37 percentage : -0.07361330071912449
label and description : S['SAMPLES']
frequency : 63 percentage : -0.03128302065919023
label and description : AMAZONFEE['AMAZON FEE']
frequency : 34 percentage : -2.2725300397568526
label and description : m['Manual']
frequency : 1 percentage : 2.6159888594418903e-05
label and description : DCGSSBOY['BOYS PARTY BAG']
frequency : 11 percentage : 0.0015444593050548106
label and description : DCGSSGIRL['GIRLS PARTY BAG']
frequency : 13 percentage : 0.0014816755724282047
label and description : PADS['PADS TO MATCH ALL CUSHIONS']
frequency : 4 percentage : 3.0776339522845773e-08
label and description : B['Adjust bad debt']
frequency : 3 percentage : -0.11348323812736377
label and description : CRUK['CRUK Commission']
frequency : 16 percentage : -0.08138731175357677

All of these labels are recommended for removal

### Investigating the stock code 'M'

In [34]:
# nubmer of records having the stock code 'M

len(customer_df.loc[customer_df['StockCode']=='M'])

571

In [35]:
# nubmer of unique customer ID's assigned for M

len(customer_df.loc[customer_df['StockCode']=='M']['CustomerID'].unique())

277

In [38]:
# Let us investigate a few records containing the code

customer_df.loc[customer_df['StockCode']=='M'].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
2239,536569,M,Manual,1,12/1/2010 15:35,1.25,16274.0,United Kingdom
2250,536569,M,Manual,1,12/1/2010 15:35,18.95,16274.0,United Kingdom
5684,536865,M,Manual,1,12/3/2010 11:28,2.55,NaN,United Kingdom
6798,536981,M,Manual,2,12/3/2010 14:26,0.85,14723.0,United Kingdom
7976,537077,M,Manual,12,12/5/2010 11:59,0.42,17062.0,United Kingdom

In [46]:
# so it's clear that 'M' doesn't always occure with a negative quantity. The primary hypothesis is these indicates
# customers who are not in the system. Let's see if a few customer ID's have returned

CustID = customer_df.loc[customer_df['StockCode']=='M']['CustomerID'].unique()

for customer in CustID:
    print(customer)
    print(customer_df.loc[customer_df['CustomerID']==customer].index)

16274.0
Int64Index([2185, 2186, 2187, 2188, 2189, 2190, 2191, 2192, 2193, 2194, 2195,
            2196, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205, 2206,
            2207, 2208, 2209, 2210, 2211, 2212, 2213, 2214, 2215, 2216, 2217,
            2218, 2219, 2220, 2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228,
            2229, 2230, 2231, 2232, 2233, 2234, 2235, 2236, 2237, 2238, 2239,
            2240, 2241, 2242, 2243, 2244, 2245, 2246, 2247, 2248, 2249, 2250,
            2251],
           dtype='int64')
nan
Int64Index([], dtype='int64')
14723.0
Int64Index([  6748,   6749,   6750,   6751,   6752,   6753,   6754,   6755,
              6756,   6757,
            ...
            511338, 511339, 511340, 511341, 511342, 511343, 511344, 511345,
            511346, 511347],
           dtype='int64', length=278)
17062.0
Int64Index([ 7960,  7961,  7962,  7963,  7964,  7965,  7966,  7967,  7968,
             7969,  7970,  7971,  7972,  7973,  7974,  7975,  7976,  7977,
             7978,  7979,  7980,  7981,  7982,  7983,  7984,  7985, 20193,
            20194, 20195, 20196, 20197, 20198, 20199, 20200, 20201, 20202,
            20203, 20204, 20205, 32869, 32979, 32980, 32981, 32982, 32983,
            32984, 32985, 32986, 32987, 32988, 32989, 32990, 32991, 75476,
            75477, 75478, 75479, 75480, 75481, 75482, 75483, 75484, 75485,
            75486, 75487, 75488, 75489, 75490, 75491, 75492, 75493],
           dtype='int64')
16327.0
Int64Index([  8485,   8486,   8487,   8488,   8489,   8490,   8491,   8492,
              8493,   8494,
            ...
            500790, 500791, 500792, 500793, 500794, 500795, 500796, 500797,
            500798, 500799],
           dtype='int64', length=319)
12748.0
Int64Index([  1016,   3692,   8448,   8449,   8450,   8451,   8452,   8453,
              8454,   8455,
            ...
            541850, 541851, 541852, 541853, 541854, 541855, 541856, 541857,
            541858, 541859],
           dtype='int64', length=4642)
15894.0
Int64Index([  9306,   9307,   9308,   9309,   9310,   9311,   9312,   9313,
              9314,   9315,   9316,   9317,   9318,   9319,   9320,   9321,
              9322,   9323,   9324,   9325,   9326,   9327,   9328,   9329,
              9330,   9331,   9332,   9333,   9334,   9335,   9336,   9337,
              9338,   9339,   9340,   9341,   9342,   9343, 141133, 141134,
            141135],
           dtype='int64')
15889.0
Int64Index([  9565,   9566,   9567,   9568,   9569,   9570,   9571,   9572,
              9573,   9574,   9575,   9576,   9577,   9578,   9579,   9580,
              9581,   9582,   9583,   9584,   9585,   9586,   9587,   9588,
              9589,   9590,   9591,   9592,   9593,   9594,   9595,   9596,
              9597,   9598,   9599,   9600,   9601,   9602,   9603,   9604,
              9605,   9606,   9607,   9608,   9609,   9610,   9611,   9612,
              9613,   9614,   9615,   9616,   9617,   9618,   9619,   9620,
              9621,   9622,   9623,   9624,   9625,   9626,   9627,   9628,
              9629,   9630, 252254, 252255, 252256, 252257, 252258, 252259,
            252260, 252261, 252262, 252263, 252264, 252265, 252266, 252267,
            252268, 252269, 252270, 252271, 252272, 252273, 252274, 252275,
            252276, 252277, 252278, 252279, 252280],
           dtype='int64')
15882.0
Int64Index([ 12419,  12420,  12421,  12422,  12423,  12424,  12425,  12426,
             12427,  12428,  12429,  12430,  12431,  12432,  12453,  12454,
             12455, 204065, 204066, 204067, 204068, 204069, 204070, 204111],
           dtype='int64')
17068.0
Int64Index([ 12667,  12668,  12669,  12670,  12671,  12672,  12673,  12674,
             12675,  12676,
            ...
            503892, 503893, 503894, 503895, 503896, 503897, 503898, 503899,
            503900, 503901],
           dtype='int64', length=297)
17223.0
Int64Index([12783, 12784, 12785, 12786, 12787, 12788, 12789, 12790, 12791,
            12792, 12793, 12794, 12795, 12796, 12797, 12798, 12799, 12800,
            12801, 12802, 12803, 12804, 12805, 12806, 12807, 12808, 12809,
            12810, 12811, 12812, 80304, 80305, 80306, 80307, 80308, 80309,
            80310, 80311, 80312, 80313, 80314, 80315, 80316, 80317, 80318,
            80319, 80320, 80321, 80322],
           dtype='int64')
17920.0
Int64Index([   541,    542,    543,    544,    545,    546,    547,    548,
               549,    550,
            ...
            526580, 526581, 526582, 526583, 526584, 526585, 526586, 526587,
            526588, 526589],
           dtype='int64', length=696)
15329.0
Int64Index([ 21758,  21759,  21760, 234520, 234521, 234522, 234523, 234524,
            234525, 234526, 234527, 234528, 234529, 234530, 234531, 234532,
            234533, 234534, 234535, 282443, 282444, 282445, 282446, 282447,
            282448, 282449, 282450, 282451, 282452, 282453, 282454, 282455,
            282456, 282457, 282458, 282459, 282460, 282461, 282462, 282463,
            282464, 282465, 282466, 282467, 282468, 431515, 431516, 431517,
            431518, 431519, 431520, 431521, 431522, 431523, 431524, 431525,
            431526, 431527, 431528, 431529, 439925, 439926],
           dtype='int64')
13090.0
Int64Index([  3108,   3109,   3110,   3111,  20038,  20039,  20040,  21838,
             57335,  57336,
            ...
            482987, 482988, 482989, 482990, 482991, 517199, 517200, 517201,
            517202, 517203],
           dtype='int64', length=161)
15555.0
Int64Index([  9495,   9496,   9497,   9498,   9499,   9500,   9501,   9502,
              9503,   9504,
            ...
            505172, 505173, 505174, 505175, 505176, 505177, 505178, 505179,
            505180, 505181],
           dtype='int64', length=925)
17894.0
Int64Index([ 19090,  19091,  19092,  19093,  19094,  19095,  19096,  19097,
             19098,  19099,
            ...
            366711, 366712, 366713, 366714, 366715, 366716, 366717, 366718,
            366719, 366720],
           dtype='int64', length=193)
15181.0
Int64Index([ 20438,  29530, 119855, 119856, 230995, 230996, 230997, 230998,
            230999, 231000, 231001, 231002, 376194, 376195, 376196, 376197,
            376198, 376199],
           dtype='int64')
17194.0
Int64Index([ 29531,  29532,  29533,  29534,  29535,  29536,  29537,  29538,
             29539,  29540,  29541,  29542,  29543,  29544,  29545,  29546,
             29547,  29548,  29549,  29550,  29551,  29552,  29553,  29554,
             29555,  29556,  29557,  29558, 117253],
           dtype='int64')
17692.0
Int64Index([ 31796,  31797,  31798,  31799,  31800,  31801,  31802,  31803,
             31804,  31805,  31806,  31807,  31808,  31809,  31810,  31811,
             31812,  31813,  31814,  31815,  31816,  31817,  31818,  31819,
             31820,  83563,  83564,  83565,  83566,  83567,  83568,  83569,
            169513, 169514, 169515, 169516, 169517, 169518, 169519, 172962,
            290181, 290182, 290183, 290184, 290185, 290186, 290187],
           dtype='int64')
16725.0
Int64Index([ 7238,  7239,  7240,  7241,  7242,  7243,  7244,  7245,  7246,
             7247,
            ...
            87165, 87166, 87167, 87168, 87169, 87170, 87171, 87172, 87173,
            87174],
           dtype='int64', length=152)
17392.0
Int64Index([34034, 34035, 34036, 34037, 34038, 34039, 34040, 34041, 34042,
            34043, 34044, 34045, 34046, 34047, 34048, 34049, 34050, 34051,
            34052, 34053, 34054, 34055, 34056, 34057, 34058, 34059, 34060,
            34061, 34062, 34063, 34064, 34065, 34066, 34067, 34068, 34069,
            34070, 34071, 34072, 34073, 34074, 34075, 34076, 34077, 34078,
            34079, 34080, 34081, 34082, 82896, 82897, 82898, 82899, 82900,
            82901, 82902, 82903, 82904, 82905, 82906, 82907, 82908],
           dtype='int64')
18116.0
Int64Index([ 23766,  23767,  23768,  23769,  23770,  23771,  23772,  23773,
             23774,  23775,
            ...
            372985, 372986, 372987, 372988, 372989, 372990, 372991, 372992,
            372993, 372994],
           dtype='int64', length=378)
17841.0
Int64Index([  1441,   1442,   2037,   2038,   2039,   2040,   2041,   2042,
              2043,   2044,
            ...
            537744, 537745, 537746, 537747, 537748, 537749, 537750, 537751,
            537752, 537753],
           dtype='int64', length=7983)
16814.0
Int64Index([  7789,   7790,   7791,   7792,   7793,   7794,   7795,   7796,
              7797,   7798,
            ...
            472836, 472837, 472838, 500830, 500831, 500832, 500833, 500834,
            500835, 500836],
           dtype='int64', length=325)
15046.0
Int64Index([ 44864,  44865,  44866,  44867,  44868,  44869,  44870,  44871,
             44872,  44873,
            ...
            515947, 515948, 515949, 515950, 515951, 515952, 515953, 515954,
            515955, 515956],
           dtype='int64', length=207)
12503.0
Int64Index([45622], dtype='int64')
15719.0
Int64Index([ 45719,  45720,  45721,  45722,  45723,  45724,  45725,  45726,
             45727,  45728,
            ...
            445885, 445886, 445887, 445888, 445889, 445890, 445891, 445892,
            445893, 445894],
           dtype='int64', length=938)
15823.0
Int64Index([ 4406, 45900, 45901, 45902, 45903, 45904, 45905, 45906, 45907,
            45908, 45909, 45910, 45911, 45912, 45913, 45914, 45915],
           dtype='int64')
17811.0
Int64Index([ 50851,  50852,  50853,  50854,  50855,  50856,  50857,  50858,
             50859,  50860,
            ...
            526275, 526276, 526277, 526278, 526279, 526280, 526281, 526282,
            526283, 526284],
           dtype='int64', length=872)
16791.0
Int64Index([ 53507,  53508,  53509,  53510,  53511,  53512,  53513,  53514,
             53515,  53516,
            ...
            456961, 456962, 456963, 456964, 456965, 456966, 456967, 456968,
            456969, 456970],
           dtype='int64', length=322)
17609.0
Int64Index([ 58838,  58839,  58840,  58841,  58842,  58843,  58844,  58845,
             58846,  58847,
            ...
            426204, 426205, 426206, 426410, 426411, 426412, 426413, 426414,
            426415, 426416],
           dtype='int64', length=238)
17744.0
Int64Index([ 33398,  33399,  33400,  33401,  33402,  33403,  33404,  33405,
             33406,  33407,
            ...
            530574, 530575, 530576, 530577, 530578, 530579, 530580, 530581,
            530582, 530583],
           dtype='int64', length=137)
18118.0
Int64Index([  8044,   8045,   8046,   8047,   8048,   8049,   8050,   8051,
              8052,   8053,
            ...
            509462, 509463, 509464, 509465, 509466, 509467, 509468, 509469,
            509470, 509471],
           dtype='int64', length=1284)
16904.0
Int64Index([ 14729,  14730,  14731,  14732,  14733,  14734,  14735,  14736,
             14737,  14738,
            ...
            526005, 526006, 526007, 526008, 526009, 526010, 526011, 526012,
            526013, 526014],
           dtype='int64', length=710)
15529.0
Int64Index([ 17597,  17598,  17599,  17600,  17601,  17602,  17603,  17604,
             17605,  17606,
            ...
            476167, 476168, 476169, 476170, 476171, 476172, 476173, 476174,
            476175, 476176],
           dtype='int64', length=674)
16210.0
Int64Index([   868,    869,    870,    871,    872,    873,    874,    875,
               876,    877,
            ...
            537881, 537882, 537883, 537884, 537885, 537886, 537887, 537888,
            537889, 537890],
           dtype='int64', length=123)
15797.0
Int64Index([69745, 84445, 84446, 84447, 84448, 84449, 182180, 305962], dtype='int64')
12539.0
Int64Index([ 50152,  50153,  50154,  50155,  50156,  50157,  50158,  50159,
             50160,  50161,
            ...
            476962, 476963, 476964, 476965, 476966, 476967, 476968, 476969,
            476970, 476971],
           dtype='int64', length=274)
13777.0
Int64Index([  2301,   2302,   2303,   2304,   2305,   2306,   2307,   2308,
              2309,   2310,
            ...
            516853, 516854, 516855, 516856, 516857, 516858, 541865, 541866,
            541867, 541868],
           dtype='int64', length=219)
13174.0
Int64Index([  9911,   9912,   9913,   9914,   9915,   9916,   9917,   9918,
              9919,   9920,
            ...
            495218, 495219, 495220, 495221, 495222, 495223, 495224, 495225,
            495226, 495227],
           dtype='int64', length=314)
17580.0
Int64Index([ 33608,  33609,  33610,  77242,  77243,  77244,  77245,  77246,
             77247,  77248,  77249,  77250,  77251,  77252,  77253,  77254,
             77255,  77256,  77257,  77258,  77259,  77260,  77261,  77262,
             77263,  77264,  77265,  77266,  77267,  77268,  77269,  77270,
             77271,  77272,  77273,  77274,  77275,  77276,  77277,  77278,
             77279,  77280,  77281,  77282, 142775],
           dtype='int64')
15940.0
Int64Index([79196, 79197], dtype='int64')
13199.0
Int64Index([ 17305,  17306,  17307,  17308,  33418,  33419,  33420,  33421,
             33422,  33423,
            ...
            499792, 510375, 517119, 517120, 519285, 519286, 519287, 530964,
            530965, 530966],
           dtype='int64', length=120)
15885.0
Int64Index([ 81477, 329961, 329962, 329963, 329964, 329965, 329966, 329967,
            329968, 329969, 329970, 329971, 329972, 329973, 329974, 329975,
            329976, 330998],
           dtype='int64')
17843.0
Int64Index([86272, 86273, 86274, 86275, 86276, 86277, 86278, 86279, 86280,
            86281, 86282, 86283, 86284, 86285, 86286, 86287, 86288, 86289,
            86290, 86291, 86292, 86293, 86294, 86295, 86296, 86297, 86298,
            86299, 86300, 86301, 86302, 86303, 86304, 86305, 86306, 86307,
            86308],
           dtype='int64')
12931.0
Int64Index([ 34302,  37355,  86950,  90281,  90282,  90283,  90284, 119634,
            156136, 156137,
            ...
            452371, 452372, 452551, 452552, 460604, 476466, 476467, 476468,
            480212, 480213],
           dtype='int64', length=102)
12505.0
Int64Index([88000], dtype='int64')
13672.0
Int64Index([51024, 51025, 51026, 53203, 53204, 53205, 88001, 88002, 88003,
            88004, 88005, 88006, 88018, 88019, 88020, 88028],
           dtype='int64')
17450.0
Int64Index([ 14059,  14067,  14068,  52131,  52132,  52133,  52134,  52147,
             52148,  52149,
            ...
            508792, 508793, 508794, 508795, 508840, 517563, 517564, 517565,
            517566, 517567],
           dtype='int64', length=351)
12963.0
Int64Index([ 19640,  19641,  19642,  19643,  19644,  19645,  19646,  19647,
             19648,  19649,  19650,  19651,  19652,  19653,  19654,  19655,
             89256, 343801, 343802, 343803, 343804, 343805, 343806, 343807,
            343808, 343809, 343810, 343811, 343812, 343813, 343814, 343815,
            401988, 401989, 401990, 401991, 401992, 401993, 401994, 471382,
            471383, 471384, 471385, 471386, 471387, 471388, 471389, 471390,
            472163, 472164, 472165, 472166, 472167, 472168, 472169, 472170,
            472171, 472172, 472173, 472174, 472175, 472176, 472177, 472178,
            472179, 472180, 472181, 472182, 472183, 472184, 488274, 488275,
            488276, 488277, 488278, 512125, 512126, 512127, 512128, 512129,
            512130, 512131, 512132, 512133, 517327, 517328, 517329, 517330,
            517331, 517332, 517333, 517334, 517335, 517336, 517337, 517338],
           dtype='int64')
17095.0
Int64Index([ 49157,  49158,  49159,  49160,  49161,  49162,  49163,  49164,
             49165,  49166,  49167,  49168,  49169,  49170,  49171,  49172,
             54212,  88596,  88597,  88598,  88599,  88600,  88601,  88602,
             88603,  88604,  88605,  88606,  88607,  88608,  88609,  88610,
             88611,  88612,  88613,  89283, 476401, 476402, 476403, 476404,
            476405, 476406, 476407, 476408, 476409, 476410, 476411, 476412,
            476413, 476414, 476415, 476416, 476417, 476418, 476419, 476420,
            476421, 476422, 476423, 476424, 476425, 476426, 476427, 476428,
            476429, 476430, 476431, 476432, 476433, 476434, 476435, 476436,
            476437, 476438, 476439, 476440, 478649],
           dtype='int64')
17530.0
Int64Index([ 22458,  22459,  22460,  22461,  22462,  22463,  22464,  22465,
             22466,  22467,
            ...
            540049, 540050, 540051, 540052, 540053, 540054, 540055, 540056,
            540057, 540058],
           dtype='int64', length=394)
14606.0
Int64Index([  2421,   2422,   2423,   2424,   2425,   2426,   2427,   2428,
              2429,   2430,
            ...
            540166, 540167, 540168, 540169, 540170, 540171, 540172, 540173,
            540174, 540175],
           dtype='int64', length=2782)
16027.0
Int64Index([ 86725,  86726,  86727,  95052, 104515, 175256, 175257, 175258,
            229718, 229719, 229720, 277687, 277688, 277689, 277690, 277691,
            332799],
           dtype='int64')
17323.0
Int64Index([ 95764,  95765,  95766,  95767,  95768,  95769,  95770,  95771,
             95772,  95773,
            ...
            483129, 483130, 483131, 483132, 483133, 483134, 483135, 499420,
            499421, 499422],
           dtype='int64', length=204)
12365.0
Int64Index([96654, 96655, 96656, 96657, 96658, 96659, 96660, 96661, 96662,
            96663, 96664, 96665, 96666, 96667, 96668, 96669, 96670, 96671,
            96672, 96673, 96674, 96677, 96678],
           dtype='int64')
13421.0
Int64Index([ 98187,  98188,  98189,  98190,  98191,  98192,  98193,  98194,
             98195,  98196,
            ...
            427409, 427410, 427411, 427412, 427413, 427414, 427415, 427416,
            427417, 427418],
           dtype='int64', length=105)
15590.0
Int64Index([100457], dtype='int64')
14046.0
Int64Index([104469, 104470, 104471, 104472, 104473, 104474, 104475, 104476,
            104477, 104478, 104479, 104480, 104481, 104482],
           dtype='int64')
12352.0
Int64Index([ 91817,  91818,  91819,  91820,  91821,  91822,  91823,  91824,
             91825,  91826,  91827,  91828,  91829,  91830,  91831, 106309,
            106310, 106311, 106312, 106313, 106394, 106395, 106397, 106398,
            106399, 106400, 122402, 122403, 122404, 122405, 122406, 122407,
            122408, 129737, 129738, 129739, 129740, 129741, 129742, 129743,
            129781, 129782, 129783, 129784, 129785, 129786, 129787, 129788,
            349383, 349384, 349385, 349386, 349387, 349388, 349389, 349390,
            349391, 349392, 349393, 349394, 349395, 349396, 349397, 349398,
            349399, 349400, 365167, 365168, 365169, 365170, 365171, 365172,
            365173, 365174, 365175, 365176, 365177, 365178, 365179, 365180,
            437215, 437216, 437217, 437218, 437219, 437220, 437221, 437222,
            437223, 437224, 437225, 437226, 437227, 437228, 437229],
           dtype='int64')
12428.0
Int64Index([105404, 105405, 105406, 105407, 105408, 105409, 105410, 105411,
            105412, 105413,
            ...
            464257, 464258, 464259, 464260, 464261, 464262, 464263, 464264,
            464265, 464266],
           dtype='int64', length=300)
14570.0

Int64Index([109300, 109301, 109302, 109303, 109304, 109305, 109306, 109307,
            109308, 109309, 109310, 109311, 109312, 109313, 109314, 109315,
            109316, 109317, 109318, 109319, 109335, 109336, 109337, 109338,
            109339, 109340, 109341, 109342, 109343],
           dtype='int64')
14543.0
Int64Index([ 23752,  23753,  23754,  23755,  23756,  70382,  70383,  70384,
             70385,  70386,
            ...
            452091, 452092, 452093, 452094, 452095, 459222, 529974, 529975,
            529976, 529977],
           dtype='int64', length=107)
12754.0
Int64Index([ 81821,  81822,  81823,  81824,  81825,  81826,  81827,  81828,
             81829,  81830,  81831,  81832,  81833,  81834,  81835,  81836,
             81837,  81838,  81839,  81840,  81841,  81842,  81843,  81844,
             81845,  81846,  81847,  81848,  81849,  81850,  81851,  81852,
             81853,  81854,  81855,  81856,  81857, 111519, 111928, 111929,
            111930, 111931, 111932, 111933, 111934, 111935, 111936, 111937,
            111938, 111939, 112245, 159547, 159548, 159549, 159550, 159551,
            159552, 159553, 159554, 159555, 159556, 159557, 159558, 159559,
            159560],
           dtype='int64')
15291.0
Int64Index([    82,     83,  34333,  34334,  34335,  34336,  55297,  55298,
             55299,  55300,
            ...
            440180, 440181, 446232, 464664, 464665, 464666, 464667, 464668,
            464669, 464670],
           dtype='int64', length=109)
12755.0
Int64Index([19871, 109472, 109473, 109474, 112246, 144190], dtype='int64')
15834.0
Int64Index([  4836,   4837, 112776, 112777, 112778, 112779, 112780, 112781,
            112782, 112783,
            ...
            370366, 370367, 370368, 370369, 370370, 370371, 370372, 370373,
            370374, 370375],
           dtype='int64', length=276)
15023.0
Int64Index([  9130,   9131,   9132,   9133,   9134,   9135,   9136,   9137,
              9138,   9139,
            ...
            532820, 532821, 532822, 532823, 532824, 532825, 532826, 532827,
            532828, 532829],
           dtype='int64', length=563)
12924.0
Int64Index([ 58456,  58457, 114654, 114655, 114656, 114657, 114658, 114659,
            114660, 121777, 204376, 204377, 204378, 204379, 204380, 204381,
            336982, 336983, 336984, 336985, 336986, 336987, 336988, 336989,
            336990, 336991, 336992, 336993, 336994, 336995, 336996],
           dtype='int64')
16771.0
Int64Index([ 44669,  44670,  44671,  44672,  44673,  44674,  44675,  44676,
             44677,  44678,
            ...
            443151, 443152, 443153, 443154, 443155, 443156, 443157, 443158,
            443159, 443160],
           dtype='int64', length=255)
14911.0
Int64Index([  1404,   1405,   1406,   1407,   1408,   1409,   1410,   1411,
              1412,   1413,
            ...
            539146, 539147, 539148, 539149, 539150, 539151, 539152, 539153,
            539154, 539155],
           dtype='int64', length=5903)
17315.0
Int64Index([ 34510,  34511,  34512,  34524,  34525,  34526,  34527,  34528,
             34529,  34530,
            ...
            537792, 537793, 537794, 537795, 537796, 537797, 537798, 537799,
            541716, 541717],
           dtype='int64', length=487)
13708.0
Int64Index([118230, 118231, 118232, 118233, 118234, 118235, 118236, 118237,
            118238, 118239, 118240, 118241, 118242, 118243, 118244, 118245,
            118246, 118247, 118248, 118249, 118250, 118251, 118252, 118253,
            118254, 118255, 118256, 118257, 118258, 118259, 118260, 118261,
            118262, 118263, 118264, 118265, 118266, 118267, 118268, 118269,
            118270, 118271, 118272, 118273, 118274, 118275, 118276, 118277,
            118278, 118279, 118280],
           dtype='int64')
12849.0
Int64Index([121186, 121187, 121188, 121189, 121190, 121191, 121192, 121193,
            121194, 121195, 121196, 121197, 121198, 121199, 121200, 121201,
            121202, 121203, 121204, 121205, 121206, 121207, 121208, 121209,
            121210, 121211, 121212, 121213, 121214, 121215, 121216, 121217,
            121218, 121219, 121220, 121221, 449069, 449070, 449071, 449072,
            449073, 449074, 449075, 449076, 449077, 449078, 449079, 449080,
            449081, 449082, 449083],
           dtype='int64')
17603.0
Int64Index([122282, 269176, 269177, 354250, 354251, 354252, 354253, 354254,
            354255, 354256, 354257, 354258, 354259, 354260, 410580],
           dtype='int64')
14462.0
Int64Index([ 42741,  42742,  42743,  82452,  82453,  82454,  82455,  82456,
             82457,  82458,
            ...
            376870, 376871, 376872, 376873, 376874, 376875, 376876, 376877,
            376878, 383201],
           dtype='int64', length=246)
16422.0
Int64Index([  9741,   9742,   9743,   9744,   9745,   9746,   9747,   9748,
              9749,   9750,
            ...
            465777, 465778, 469250, 469251, 489992, 489993, 489994, 489995,
            489996, 489997],
           dtype='int64', length=399)
15061.0
Int64Index([  4439,   4440,   4441,   4442,   4443,   4444,   4445,   4446,
              4447,   4448,
            ...
            530509, 530510, 530511, 530512, 530513, 530514, 530515, 530516,
            530517, 530518],
           dtype='int64', length=410)
16511.0
Int64Index([124066, 124067, 124068, 124069, 124070, 124071, 124072, 124073,
            124074, 124075,
            ...
            479534, 479535, 479536, 479537, 479538, 479539, 479540, 479541,
            479542, 479543],
           dtype='int64', length=169)
16444.0
Int64Index([125652, 125653, 125654, 125655, 125656, 125657, 125658, 125659,
            125660, 125661, 125662, 125663, 125664, 125665, 125666, 125667,
            125668, 125669, 125670, 125671, 125672, 125673, 125674, 125675,
            125676, 125677, 125678, 125679, 207148, 207149, 207150, 207151,
            207152, 207153, 207154, 207155, 207156, 207157, 207158, 207159,
            207160, 207161, 207162, 207163, 207164, 207165, 207166, 326828,
            326829, 326830, 326831, 326832, 326833, 326834, 326835, 326836,
            326837, 326838, 326839, 326840, 326841, 326842, 326843, 326844,
            326845, 326846, 326847, 326848, 326849, 326850, 326851, 326852,
            414741, 414742, 414743, 414744, 414745, 414746, 414747, 414748,
            414749, 414750, 414751, 414752, 414753, 414754],
           dtype='int64')
13240.0
Int64Index([ 20219,  20220,  20221,  20222,  20223,  20224,  20225,  20226,
             20227,  20228,  20229,  20230,  20231,  20232,  20233,  20234,
             20235,  20236,  20237,  20238,  20239, 134940, 134941, 134942,
            134943, 134944, 134945, 134946, 134947, 134948, 134949, 134950,
            134951, 134952, 134953, 134954, 134955, 134956, 134957, 134958,
            134959, 134960, 134961, 134962, 232209, 232210, 232211, 232212,
            232213, 232214, 232215, 232216, 325427, 325428, 325429, 325430,
            325431, 325432, 325433, 325434, 325435, 325436, 325437, 325438,
            325439, 325440, 325441],
           dtype='int64')
14410.0
Int64Index([ 83118,  83119,  83120,  83121,  83122,  83123,  83124,  83125,
            135284, 135285,
            ...
            497456, 497457, 497458, 497459, 497460, 497461, 497462, 497463,
            497464, 497465],
           dtype='int64', length=287)
16788.0
Int64Index([139527, 139528, 139529, 139530, 139531, 139532, 139533, 139534,
            139535, 139536,
            ...
            294376, 294377, 294378, 294379, 294380, 294381, 294382, 294383,
            294384, 294385],
           dtype='int64', length=155)
14527.0
Int64Index([   141,   8963,   8964,   8965,   8966,   8967,   8968,   8969,
              8970,   8971,
            ...
            533802, 533803, 533804, 533805, 533806, 533807, 533808, 533809,
            533810, 533811],
           dtype='int64', length=1011)
14525.0
Int64Index([ 28995,  28996,  28997,  28998,  28999,  29000,  29001,  29002,
             29003,  29004,
            ...
            482657, 482658, 482659, 482660, 482661, 482662, 482663, 482664,
            516485, 516486],
           dtype='int64', length=298)
16960.0
Int64Index([142632, 142633, 142634, 142635, 142636, 142637, 142638, 142639,
            142640, 142641,
            ...
            432175, 432176, 432177, 432178, 432179, 432180, 432181, 432182,
            432183, 432184],
           dtype='int64', length=101)
13184.0
Int64Index([ 98916,  98917,  98918,  98919,  98920,  98921,  98922,  98923,
             98924,  98925,
            ...
            500548, 500549, 500550, 500551, 500552, 500553, 500554, 500555,
            500556, 500557],
           dtype='int64', length=183)
12744.0
Int64Index([ 70758,  70759,  70760,  70761,  70762,  70763,  70764,  70765,
             70766,  70767,
            ...
            398365, 398366, 398367, 398368, 398369, 398370, 406404, 406405,
            406406, 406407],
           dtype='int64', length=229)
13263.0
Int64Index([ 62628,  62629,  62630,  62631,  62632,  62633,  62634,  62635,
             62636,  62637,
            ...
            538544, 538545, 538546, 538547, 538548, 538549, 538550, 538551,
            538552, 538553],
           dtype='int64', length=1677)
12669.0
Int64Index([135318, 135319, 135320, 135321, 135322, 135323, 135324, 135325,
            135326, 135327,
            ...
            259703, 259704, 259705, 259706, 259707, 259708, 259709, 259710,
            259711, 259712],
           dtype='int64', length=102)
15005.0
Int64Index([ 18976,  18977,  18978,  18979,  18980,  18981,  18982,  18983,
             18984,  18985,
            ...
            497666, 497667, 497668, 497669, 497670, 497671, 497672, 497673,
            497674, 497675],
           dtype='int64', length=1160)
17940.0
Int64Index([ 86501,  86502,  86503,  86504,  86505, 113120, 113121, 145811,
            145812, 145813, 150591, 150615, 169541, 176831, 198092, 203640,
            242476, 242477, 288329, 288330, 288331, 310058, 411551],
           dtype='int64')
15867.0
Int64Index([  9344,   9345,   9346,   9347,   9348,   9349,   9350,   9351,
              9352,   9353,
            ...
            523320, 523321, 523322, 523323, 523324, 523325, 523326, 523327,
            523337, 523338],
           dtype='int64', length=463)
15935.0
Int64Index([153345, 156319, 156320, 156321, 156322, 156323, 156324, 156325,
            156326, 156327, 156328, 156329],
           dtype='int64')
16454.0
Int64Index([154618, 382578, 419485], dtype='int64')
16348.0
Int64Index([155234, 155235, 155236, 155237, 155238, 155239, 155240, 155241,
            155242, 155243,
            ...
            446629, 446630, 446631, 446632, 446633, 446634, 446635, 446636,
            446637, 446638],
           dtype='int64', length=235)
13221.0
Int64Index([ 31703,  31704,  31705,  31706,  31707,  31708,  31709,  31710,
             31711,  31712,  31713,  31714,  31715,  31716,  31717,  31718,
             31719,  31720,  31721,  31722,  31723,  31724,  31725,  31726,
             31727,  31728,  31729,  31730,  31731,  31732,  31733,  31734,
             31735,  31736,  31737, 155447, 155448, 155449, 155450, 155451,
            155452, 155453, 155454, 155455, 155456, 155457, 155458, 155459,
            155460, 155461, 155462, 155463, 155464, 155465, 155466, 155467,
            155468, 155469, 155470, 155471, 155472, 155473, 155474, 155475,
            155476, 155477],
           dtype='int64')
13811.0
Int64Index([157014, 157015, 157016, 157017, 157018, 157019, 159703, 159710,
            220095, 220096, 220097, 220098, 220099, 220100],
           dtype='int64')
16399.0
Int64Index([160693, 160694, 160695, 160696, 160697, 160698, 160699, 160700,
            160701, 160702, 160703, 160704, 160705, 160706, 160707, 160708,
            160709, 160710, 160711, 160712, 160713, 160714, 160715, 160716,
            160717, 160718, 160719, 160720, 160721, 160722, 160723, 485295,
            485296, 485297, 485298, 485299, 485300, 485301, 485302, 485303,
            485304, 485305, 485306, 485307, 485308, 485309, 485310, 485311,
            485312, 485313, 485314, 485315, 485316, 485317, 485318, 485319,
            485320, 485321, 485322, 485323, 485324, 485325, 485326, 485327,
            485328, 485329, 485330, 485331, 485332, 485333, 485334, 485335,
            485336],
           dtype='int64')
16729.0
Int64Index([154091, 154092, 154093, 154094, 154095, 154096, 154097, 154098,
            154099, 154100,
            ...
            432925, 432926, 432927, 432928, 432929, 432930, 432931, 432932,
            438440, 438441],
           dtype='int64', length=668)
16928.0
Int64Index([  2171,   2172,   2173,   2174,   2175,   2176,  66362,  66363,
             66364,  66365,
            ...
            341310, 349650, 349651, 349652, 349653, 349654, 349655, 349656,
            349657, 349658],
           dtype='int64', length=213)
18102.0
Int64Index([ 16425,  16426,  16427,  16428,  16429,  16430,  16431,  16432,
             16433,  16434,
            ...
            540061, 540062, 540063, 540064, 540065, 540066, 540067, 540068,
            540069, 541702],
           dtype='int64', length=433)
17449.0
Int64Index([ 31258,  31259,  31260,  31261,  31262,  31263,  31264,  31265,
             31266,  31267,
            ...
            535184, 535185, 535186, 535187, 535188, 535189, 535190, 535191,
            535192, 535193],
           dtype='int64', length=279)
18283.0
Int64Index([ 46026,  46027,  46028,  46029,  46030,  46031,  46032,  46033,
             46034,  46035,
            ...
            530494, 530495, 530496, 530497, 530498, 530499, 530500, 530501,
            530502, 530503],
           dtype='int64', length=756)
17975.0
Int64Index([ 17391,  17392,  17393,  17394,  17395,  17396,  17397,  17398,
             29257,  29258,
            ...
            498151, 498152, 498153, 498154, 498155, 498156, 498157, 498158,
            498159, 498160],
           dtype='int64', length=297)
16965.0
Int64Index([169835, 169836, 169837, 169838, 169839, 169840, 169841, 169842,
            169843, 169844, 169845, 169846, 169847, 169848, 169849, 169850,
            169851, 169852, 169853, 169854, 169855, 169856, 169857, 169858,
            169859, 169860],
           dtype='int64')
15891.0
Int64Index([169911, 169912, 169913, 169914, 169915, 169916, 169917, 169918,
            169919, 169920, 169921, 169922, 169923, 169924, 169925, 169926,
            169927, 169928, 169929, 169930, 169931, 169932, 169933, 169934,
            169935, 169936, 169937, 169938, 169939, 169940, 169941, 169942,
            169943, 169944, 169945, 169946, 169947, 169948, 169949, 169950,
            169951, 169952, 169953, 169954, 169955, 169956, 169957, 169958,
            169959, 169960, 169961, 169962, 169963, 169964, 169965, 169966,
            169967, 169968, 169969, 169970, 169971, 169972],
           dtype='int64')
13637.0
Int64Index([170076, 170077, 170078, 170079, 170080, 170081, 170082, 170083,
            170084, 170085,
            ...
            213645, 213646, 404492, 404493, 404494, 404495, 404496, 404497,
            404498, 404499],
           dtype='int64', length=101)
16401.0
Int64Index([ 58381,  58382,  58383,  58384,  58385,  58386,  58387,  58388,
             58389,  58390,
            ...
            539989, 539990, 539991, 539992, 539993, 539994, 539995, 539996,
            539997, 539998],
           dtype='int64', length=198)
16029.0
Int64Index([   175,    176,    177,    178,    179,    180,    181,    182,
              4947,   4948,
            ...
            390557, 403535, 420152, 420153, 420154, 431946, 431947, 431948,
            431949, 431950],
           dtype='int64', length=274)
16806.0
Int64Index([157075, 157076, 157077, 157078, 157079, 157080, 157081, 157082,
            157083, 157084,
            ...
            316092, 316093, 316094, 316095, 316096, 316097, 316098, 316099,
            316100, 316101],
           dtype='int64', length=103)
15796.0
Int64Index([ 86964,  86965,  86966,  86967,  86968,  86969,  86970,  86971,
             86972,  86973,
            ...
            540211, 540212, 540213, 540214, 540215, 540216, 540217, 540218,
            540219, 540220],
           dtype='int64', length=135)
15521.0
Int64Index([138812, 138813, 138814, 138815, 138816, 138817, 138818, 138819,
            138820, 138821,
            ...
            427103, 427104, 427105, 427106, 427107, 427108, 427109, 427110,
            436057, 437052],
           dtype='int64', length=200)
15674.0
Int64Index([138862, 138863, 138864, 138865, 138866, 138867, 138868, 138869,
            138870, 138871,
            ...
            363231, 363232, 363233, 363234, 363235, 363236, 363237, 363238,
            363239, 363240],
           dtype='int64', length=135)
13012.0
Int64Index([ 94281,  94282,  94283,  94284,  94285,  94286,  94287,  94288,
             94289,  94290,
            ...
            514119, 514120, 514121, 514122, 514123, 514124, 514125, 514126,
            514127, 514128],
           dtype='int64', length=107)
13235.0
Int64Index([186434, 186435, 186436, 186437, 186438, 186439, 186440, 186441,
            186442, 186443, 186444, 186445, 186446, 186447, 186448, 186449,
            186450, 186451, 186452, 186453, 186454, 186455, 186456, 186457,
            186458, 186459, 186460, 186461, 186462, 186463, 186464, 186465,
            186466, 186467, 186468, 186469, 186470, 186471, 186472, 186473,
            186474, 186475, 186476, 186477, 186478, 186479, 186480, 186481,
            186482, 186483, 186484, 186485, 186486, 186487, 186488, 186489,
            186490, 186491, 186647],
           dtype='int64')
18133.0
Int64Index([185919, 187609], dtype='int64')
12757.0
Int64Index([188201, 188202, 188203, 188204, 188205, 188206, 188207, 188208,
            188209, 188210,
            ...
            497703, 497704, 497705, 497706, 497707, 497708, 497709, 497710,
            497711, 497712],
           dtype='int64', length=377)
17337.0
Int64Index([ 80347,  80348,  80349,  80350,  80351,  80352,  80353,  80354,
             80355,  80356,
            ...
            188467, 188468, 188469, 188470, 188471, 188472, 188473, 259034,
            259035, 259036],
           dtype='int64', length=548)
15033.0
Int64Index([ 57499,  57500,  57501,  57502,  57503,  57504,  57505,  57506,
             57507,  57508,
            ...
            525787, 525788, 525789, 525790, 525791, 525792, 525793, 525794,
            525795, 525796],
           dtype='int64', length=513)
12684.0
Int64Index([182934, 182935, 182936, 182937, 182938, 182939, 182940, 182941,
            182942, 182943,
            ...
            468202, 468203, 468204, 468205, 519349, 519350, 519351, 519352,
            519353, 519354],
           dtype='int64', length=105)
14931.0

Int64Index([154461, 154462, 154463, 154464, 154465, 154466, 154467, 154468,
            154469, 194242, 194243, 360633, 360634, 360635, 360636, 360637,
            360638, 360639, 360640, 360641, 360642, 360643, 360644, 360645,
            360646, 360647, 360648, 360649, 475565, 475566, 475567, 475568,
            475569, 475570, 475571, 475572, 475573, 524458, 524459, 524460,
            524461, 524462],
           dtype='int64')
17949.0
Int64Index([  6607,  45492,  99110,  99111, 106784, 117005, 169823, 180752,
            180754, 180755, 180756, 192704, 200351, 200369, 208190, 212528,
            212529, 244402, 244403, 244404, 244413, 244414, 244415, 244416,
            244417, 244418, 244419, 244420, 244421, 244423, 244424, 244799,
            244800, 245136, 245137, 259970, 274449, 282260, 282261, 282262,
            282263, 282264, 282265, 282266, 282267, 282288, 296537, 304342,
            304419, 304420, 304421, 304430, 304431, 304432, 309359, 314225,
            319753, 321060, 323064, 323065, 323066, 323067, 329930, 369673,
            369674, 369675, 387313, 387314, 387315, 397707, 414254, 424310,
            488313, 519821, 519822, 519823, 519824, 540070, 540071],
           dtype='int64')
13232.0
Int64Index([151621, 151622, 151623, 151624, 151625, 151626, 151627, 151628,
            151629, 151630,
            ...
            502753, 502754, 502755, 502756, 502757, 502758, 502759, 502760,
            502761, 502762],
           dtype='int64', length=207)
17757.0
Int64Index([  4908,   4909,   4910,   4911,   4912,   4913,   4914,   4915,
              4916,   4917,
            ...
            539036, 539037, 539038, 539039, 539040, 539041, 539042, 539043,
            539044, 539045],
           dtype='int64', length=742)
14623.0
Int64Index([161269, 161270, 161271, 161272, 161273, 161274, 161275, 161276,
            161277, 161278,
            ...
            446222, 446223, 446224, 446225, 446226, 446227, 446228, 446229,
            446230, 446231],
           dtype='int64', length=135)
13050.0
Int64Index([ 17022,  17023,  17024,  17025,  17026,  17027,  17028,  17029,
             17030,  17031,
            ...
            499702, 499703, 499704, 499705, 499706, 499707, 499708, 499709,
            516217, 516218],
           dtype='int64', length=422)
17873.0
Int64Index([  2103,   2104,   2105,   2106,   2107,   2108,   2109,   2110,
              2111, 108619, 108620, 108621, 108622, 108623, 108624, 108625,
            108626, 108627, 108628, 108629, 155130, 155131, 155132, 155133,
            155134, 155135, 155136, 155137, 155138, 155159, 155160, 218795,
            218796, 218797, 218798, 218799, 218800, 218801, 218802, 349695,
            349696, 349697, 349698, 349699, 349700, 349701],
           dtype='int64')
17522.0
Int64Index([176534, 176535, 176536, 176537, 176538, 176539, 176540, 176541,
            176542, 176543, 192565, 192566, 192567, 220769, 220770, 220771,
            220772, 220773, 220774, 220775, 220776, 220777, 220778, 220779,
            220780, 220781, 220782, 220783, 220784, 220785, 220786, 220787,
            220788, 220789, 220790, 220791, 220792, 220793, 220794, 220795,
            220796, 220797, 220798, 220799, 220800, 220801, 220802, 220803,
            220804, 220805, 220806, 220807, 220808, 220809, 220810, 220811,
            220812, 220813, 220814, 276427, 276428, 276429, 276430, 276431,
            276432, 276433, 276434, 537873, 537874, 537875, 537876, 537877,
            537878],
           dtype='int64')
15299.0
Int64Index([  4850,   4851,   4852,  88071, 127041, 155728, 155729, 221764,
            242907, 293839, 373658, 373659],
           dtype='int64')
15098.0
Int64Index([222670, 222680, 222681, 222682, 222692], dtype='int64')
16205.0
Int64Index([224433, 224434, 224435, 224436, 224437, 224438, 224439, 224440,
            224441, 224442, 224443, 224444, 224445, 224446, 224447, 224448,
            224449, 224450, 224451, 224452, 224453, 224454, 224455, 224456,
            224457, 224458, 224459, 373196, 373197, 373198, 373199, 373200,
            373201, 373202, 373203, 373204, 373205, 373206, 373207, 373208,
            373209, 373210, 373211, 373212, 373213, 373214, 373215, 373216,
            373217, 373218, 373219, 373220, 373221, 373222, 373223, 373224,
            373225, 373226, 373227, 373228, 373229, 373230, 373231, 373232,
            373233, 373234, 373235, 373236, 373237, 373238, 373239, 373240,
            373241, 373242, 373243, 373244, 373245, 373246, 436041, 436042,
            436043, 436044, 436045, 436046, 436047, 436048, 436049, 436050,
            436051, 436052, 436053, 436054, 436055, 436056, 451256, 451257,
            451258, 451259],
           dtype='int64')
14667.0
Int64Index([ 12456,  12457,  12458,  12459,  12460,  12461,  12462,  12463,
             12464,  12465,
            ...
            509374, 509375, 509376, 509377, 509378, 509379, 509380, 509381,
            509382, 509383],
           dtype='int64', length=576)
16013.0
Int64Index([  6604,   6605,   6606,  32719,  32720,  32721,  34291,  34292,
             34301,  47246,
            ...
            519847, 519848, 519849, 519850, 519851, 519852, 519853, 519854,
            529978, 529979],
           dtype='int64', length=151)
14461.0
Int64Index([130517, 130518, 130519, 130520, 130521, 130522, 130523, 130524,
            130525, 130526,
            ...
            264426, 264427, 264428, 264429, 264430, 264431, 264432, 264433,
            264434, 264435],
           dtype='int64', length=180)
12421.0
Int64Index([ 69722,  69723,  69724,  69725,  69726,  69727,  69728,  69729,
             69730,  69731,  69732, 232004, 232005, 232006, 232007, 232008,
            232009, 232010, 232011, 232012, 232013, 232014, 232015, 232016,
            232017, 232058, 303133, 303134, 303135, 303136, 303137, 303138,
            303139, 303140, 303141, 303142, 303143, 495920, 495921, 495922,
            495923, 495924, 495925, 495926, 495927, 495928],
           dtype='int64')
14001.0
Int64Index([  1100,   1101,   1102,   1103,   1104,   1105,   1106,   1107,
              1108, 165708, 165709, 165710, 165711, 165712, 165713, 165714,
            165715, 165716, 165717, 165718, 165719, 165720, 165721, 165722,
            235909, 417030, 417031, 417032, 417033, 417034, 417035, 417036,
            417037, 417038, 417039, 417040, 417041, 417042, 417043, 417044],
           dtype='int64')
17759.0
Int64Index([237735, 237736, 237737, 237738, 237739, 237740, 237741, 237742,
            237743, 237744, 237745, 237746, 237747, 237748, 237749, 237750,
            237857, 237858, 491655, 491656, 491657, 491658, 491659, 491660,
            491661, 491662, 491663, 491664, 491665, 491666, 491667, 491668,
            491669, 491670, 491671, 491672, 491673, 491674, 491675, 491676,
            491677, 491678, 491679, 491680, 491681, 491682, 491683, 491684,
            491685, 491686, 491687, 491688, 491689, 491690, 491691, 491692,
            491693, 491694, 491695, 491696, 491697, 491698, 491699, 491700,
            491701, 491702, 491703, 491704, 491705, 491706, 491707, 491708,
            491709, 491710, 491711, 491712, 491713, 491714, 491715, 491716,
            491717, 491718, 491719, 491720, 491721, 491722, 491723, 491724,
            491725, 491726, 491727, 491728, 491729, 491730, 491731],
           dtype='int64')
15502.0
Int64Index([  9761,   9762,   9763,   9764,   9765,   9766,   9767,   9768,
              9769,   9770,
            ...
            497862, 497863, 497864, 497865, 497866, 497867, 497868, 497869,
            497870, 497871],
           dtype='int64', length=252)
17837.0
Int64Index([244271, 244272, 244273, 244274, 244275, 244276, 244277, 244278,
            244279, 244280,
            ...
            425153, 425154, 425155, 425156, 425157, 425158, 425159, 425160,
            425161, 425162],
           dtype='int64', length=172)
13113.0
Int64Index([ 18132,  18133,  18134,  18205,  18206,  18207,  18208,  18209,
             18210,  18211,
            ...
            426958, 499882, 499883, 499884, 499885, 499886, 541890, 541891,
            541892, 541893],
           dtype='int64', length=280)
17800.0
Int64Index([ 49713,  49714,  49715,  49716,  49717,  49718,  49719,  49720,
             49721,  49722,
            ...
            411538, 434316, 434317, 434318, 434319, 434320, 434321, 434322,
            434323, 434324],
           dtype='int64', length=104)
17338.0
Int64Index([ 28084,  28085,  28086,  28087,  28088,  28089,  28090,  28091,
             28092,  28093,
            ...
            490290, 490291, 490292, 490293, 490294, 490295, 490296, 490297,
            490298, 490299],
           dtype='int64', length=757)
12471.0
Int64Index([  3338,  22535,  22536,  22537,  22538,  22539,  22540,  22541,
             22542,  22543,
            ...
            534994, 534995, 534996, 534997, 534998, 534999, 535000, 535001,
            535002, 535003],
           dtype='int64', length=531)
13301.0
Int64Index([ 95351,  95352,  95353,  95354,  95355,  95356,  95357,  95358,
             95359,  95360,  95361,  95362,  95363,  95364,  95365,  95366,
             95367,  95368,  95369,  95370, 172169, 172170, 172171, 172172,
            172173, 172174, 172175, 172176, 172177, 172178, 172179, 172180,
            172181, 172182, 172183, 172184, 172185, 172186, 172187, 172188,
            172189, 248861, 248862, 248863, 248864, 248865, 248866, 248867,
            248868, 248869, 248870, 248871, 248872, 248873, 248874, 248875,
            248876, 248877, 248878, 248879, 248880, 248881, 248882, 248883,
            248884, 315080, 315081, 315082, 315083, 315084, 315085, 315086,
            315087, 315088, 315089, 315090, 315091, 315092, 315093, 315094,
            315095],
           dtype='int64')
12619.0
Int64Index([140897, 140898, 140899, 140900, 140901, 163779, 163780, 163781,
            163782, 163783, 163784, 163785, 249272, 249284, 263404, 263405,
            263406, 263407, 263408, 263409, 263410, 263411, 263412, 263413,
            263414, 263415, 263416, 263417, 263418, 301546, 301547, 301548,
            301549, 301550, 301551, 301552, 301553, 301554, 301555, 301556,
            339297, 339298, 339299, 339300, 339301, 339302, 339303, 355634,
            355635, 355636, 355637, 355638, 355639, 355640, 355641, 355642,
            355643, 355644, 355645, 355646, 364902, 367623, 441778, 441779,
            441780, 441781, 441782, 441783, 441784, 441785, 441786, 441787,
            441788, 441789, 441790, 441791, 454669, 454670, 495284, 495285,
            495286, 495287, 495288, 495289, 495290, 495291, 495292, 495293,
            495294, 495295, 495296, 495297, 495298, 495299, 495300],
           dtype='int64')
15334.0
Int64Index([231975, 231976, 231977, 231978, 231979, 231980, 231981, 231982,
            231983, 231984, 231985, 231986, 231987, 231988, 231989, 231990,
            231991, 231992, 231993, 231994, 231995, 231996, 231997, 231998,
            231999, 232000, 232001, 232002, 232003, 243403, 243404, 243405,
            243406, 243407, 243408, 243409, 243410, 243411, 243412, 243413,
            243414, 243415, 243416, 243417, 243418, 243419, 243420, 243421,
            243422, 243423, 243424, 243425, 243426, 243427, 243428, 243429,
            243430, 243431, 243432, 243433, 243434, 243435, 252285, 252286,
            252287, 252288, 252289, 252290, 252291, 252292, 252293, 252294,
            252295, 252296, 252297, 252298, 252299, 252300, 252301, 252302,
            252303, 252304, 252305, 252306, 252307, 252308, 252309, 252310,
            252311, 252312, 252313, 252314, 252315, 252316, 252317, 252318,
            252319, 252320, 252321],
           dtype='int64')
18072.0
Int64Index([215932, 215933, 215934, 215935, 215936, 215937, 215938, 215939,
            215940, 215941, 215942, 215943, 215944, 215945, 215946, 215947,
            215948, 215949, 255439, 255440, 255441, 255442, 255443, 255444,
            255445, 255446, 255447, 255448, 255449, 255450, 255451, 255452,
            255453, 255454, 255455, 255456],
           dtype='int64')
15920.0
Int64Index([256649, 256650, 256651, 256652, 256653, 256654, 256655, 256656,
            256657, 256658, 256659, 256994, 256995, 256996, 256997, 256998,
            256999, 257000, 257001, 257002, 257003, 257004, 257005, 257006,
            257007, 257008, 257009, 257010, 257011, 257012, 257013, 257014,
            257015, 257016, 257017, 257018, 257019, 257020, 257021, 257022,
            257023, 257024, 257038, 257039, 257040, 257041, 257042, 257043,
            257044, 257045, 257046, 257047, 257048, 257049, 257050, 257051,
            257052, 257053, 257054, 257089],
           dtype='int64')
16283.0
Int64Index([190440, 190441, 190442, 190443, 190444, 190445, 190446, 190447,
            190448, 190449,
            ...
            522673, 522674, 522675, 522676, 522677, 522678, 522679, 522680,
            522681, 522682],
           dtype='int64', length=168)
14796.0
Int64Index([ 17075,  17230,  17231,  17232,  17233,  17234,  17235,  17236,
             17237,  17238,
            ...
            539013, 539014, 539015, 539016, 539017, 539018, 539019, 539020,
            539021, 539022],
           dtype='int64', length=1165)
15856.0
Int64Index([ 20439,  20440,  20441,  20442,  20443,  20444,  20445,  20446,
             20447,  20448,
            ...
            527526, 527527, 527528, 527529, 527530, 527531, 527532, 527533,
            527534, 527535],
           dtype='int64', length=653)
16998.0
Int64Index([85571, 196840, 196882, 202229, 261332, 261334], dtype='int64')
17396.0
Int64Index([  5229,   5230,   5231, 263173, 263174, 263175, 263176, 263177,
            263178, 263179, 263180, 263181, 263182, 263183, 263185, 263186,
            263187, 263188, 373641, 373642, 373643, 373644, 373645, 373646,
            429997, 429998, 429999],
           dtype='int64')
14562.0
Int64Index([ 85379,  85380,  85381,  85382,  85383,  85384,  85385,  85386,
             85387,  85388,
            ...
            530056, 530057, 530058, 530059, 530060, 530061, 530062, 530063,
            530064, 530065],
           dtype='int64', length=446)
15402.0
Int64Index([206421, 206422, 206423, 206424, 206425, 206426, 206427, 206428,
            206429, 206430, 206431, 206432, 206433, 206434, 206435, 206436,
            206437, 206438, 206439, 206440, 206441, 206442, 206443, 206444,
            206445, 206446, 206447, 206448, 263419, 263420, 263421, 263422,
            263423, 263424, 263425, 263426, 263427, 263428, 263429, 263430,
            263431, 263432],
           dtype='int64')
15004.0
Int64Index([265070, 265071, 265072, 265073, 265074, 265075, 265076, 265077,
            265078, 265079,
            ...
            265218, 265219, 265220, 265221, 265222, 265223, 265224, 265225,
            265226, 265227],
           dtype='int64', length=158)
17750.0
Int64Index([242710, 242711, 242712, 242713, 242714, 242715, 242716, 242717,
            242718, 242719,
            ...
            523569, 523570, 523571, 523572, 523573, 523574, 523575, 523576,
            523577, 523578],
           dtype='int64', length=193)
17448.0
Int64Index([268027], dtype='int64')
14808.0
Int64Index([233131, 233132, 233133, 233134, 233135, 233136, 233137, 233138,
            233139, 233140,
            ...
            428947, 428948, 428949, 428950, 428951, 428952, 428953, 428954,
            428955, 428956],
           dtype='int64', length=256)
13564.0
Int64Index([ 13979,  13980,  13981,  13982,  13983,  13984,  13985,  13986,
             13987,  13988,  13989,  13990,  13991,  13992,  13993,  13994,
             13995,  13996,  13997,  13998,  13999,  14000,  14001,  14002,
             14003,  14004,  14005,  14006,  14007,  14008,  14009,  14010,
             14011,  14012,  14013,  14014,  14015,  14016,  14017,  14018,
             14019,  39545,  39546,  39547,  39548,  39549,  39550,  39551,
             39552,  39553,  39554,  39555,  39556,  39557,  39558,  39559,
             39560,  39561,  39562,  39563,  39564,  39565,  39566,  39567,
             39568,  39569,  39570,  39571,  39572,  39573,  39574,  39575,
             39576,  39577,  39578,  39579,  39580,  39581,  39582,  39583,
             39584,  39585, 268308, 268399, 268400],
           dtype='int64')
17809.0
Int64Index([   105,   6559,   6575,   6576,   6577,   6578,   6579,   6580,
              6581,   6582,   6583,   6584,   6585,   6586,   6587,  87283,
             87284, 150513, 177221, 177222, 233054, 239551, 268429, 287581,
            287582, 287583, 287584, 287585, 287586, 287587, 287588, 287589,
            287590, 287591, 287592, 287593, 287594, 386826, 398449, 398450,
            398451, 398452, 398453, 398454, 398455, 398456, 398457, 398458,
            398459, 398460, 398461, 398462, 398463, 398464, 398465, 493886,
            493887, 493888, 493889, 493890, 493891, 493892, 493995, 493996],
           dtype='int64')
15369.0
Int64Index([268431], dtype='int64')
13154.0
Int64Index([268476], dtype='int64')
17065.0
Int64Index([270557], dtype='int64')
14437.0
Int64Index([19672, 19673, 19674, 19675, 19676, 270559], dtype='int64')
15802.0
Int64Index([271143, 271252, 271255], dtype='int64')
14875.0
Int64Index([128468, 128469, 128470, 128471, 128472, 132940, 274374, 311558,
            311559, 311560, 311561, 311562, 311563, 311564, 311565, 311566,
            311567, 311568, 311569, 311570, 311571, 311572, 311573, 311574,
            311575, 311576, 311577, 311578, 311579, 311580, 311581, 311582,
            311583, 311584, 311585, 311586, 311587, 311588, 311589, 311590,
            311591, 311592, 311593, 311594, 311595, 311596, 311597, 311598,
            311599, 514836],
           dtype='int64')
16161.0
Int64Index([ 10204,  10817,  10818,  10819,  10820,  10821,  10822,  10823,
             10824,  10825,
            ...
            537773, 537774, 537775, 537776, 537777, 537778, 537779, 537780,
            537781, 537782],
           dtype='int64', length=502)
12709.0
Int64Index([ 17040,  17041,  17042,  17043,  17044,  17045,  17046,  34503,
             34504,  34505,
            ...
            499137, 499138, 499139, 499140, 499141, 499142, 499143, 499144,
            499145, 532722],
           dtype='int64', length=257)
15532.0
Int64Index([ 33751,  33752,  33753,  33754,  33755,  33756,  33757,  33758,
             33759,  33760,
            ...
            466118, 466119, 466120, 466121, 466122, 466123, 466124, 466125,
            466126, 466127],
           dtype='int64', length=263)
14456.0
Int64Index([271649, 271650, 271651, 271652, 271653, 271654, 271655, 271656,
            271657, 271658,
            ...
            523530, 523531, 523532, 523533, 523534, 523535, 523536, 523537,
            523538, 523539],
           dtype='int64', length=977)
17404.0
Int64Index([ 30078,  30079,  34370,  34371,  34372,  34373,  34374,  34375,
             34376,  34377,
            ...
            464270, 464271, 464272, 464273, 464274, 464275, 464276, 464277,
            527313, 527314],
           dtype='int64', length=201)
15581.0
Int64Index([ 19004,  19005,  19006,  19007,  19008,  19009,  19010,  19011,
             19012,  19013,
            ...
            252900, 252901, 252902, 252903, 252904, 285657, 285658, 295406,
            295407, 297438],
           dtype='int64', length=151)
17389.0
Int64Index([ 43663,  55294,  55295,  55296,  56948,  66823,  72087,  72088,
             72089,  72090,
            ...
            532685, 532686, 532687, 532688, 532689, 532690, 532711, 540423,
            540424, 540425],
           dtype='int64', length=224)
13408.0
Int64Index([   253,    254,    255,    256,    257,    258,    259,    260,
               261,    262,
            ...
            531018, 531019, 535347, 535348, 535349, 535350, 535351, 535352,
            535353, 535354],
           dtype='int64', length=501)
15518.0

Int64Index([  4884,   4885,   6364,   6365,   6366,  58092,  58093,  58094,
             58095,  58096,
            ...
            513438, 513439, 513440, 513441, 513442, 513443, 513444, 513445,
            513446, 513447],
           dtype='int64', length=1420)
17531.0
Int64Index([212004, 212005, 212006, 212007, 212008, 212009, 212010, 212011,
            212012, 212013, 212014, 212015, 212016, 212017, 297908],
           dtype='int64')
14534.0
Int64Index([ 70398,  70576,  70577,  70578,  70579,  70580,  70581,  70582,
             70583,  70584,
            ...
            533771, 533772, 533773, 533774, 533775, 533776, 533777, 533778,
            533779, 533780],
           dtype='int64', length=558)
17243.0
Int64Index([  7419,   7420,   7421,   7422,   7423,   7424,   7425,   7426,
              7427,   7428,
            ...
            522179, 538100, 538101, 538102, 538103, 538104, 538105, 538106,
            538107, 538108],
           dtype='int64', length=407)
17865.0
Int64Index([ 24222,  24223,  24224,  24225,  24226,  24227,  24228,  24229,
             24230,  24231,
            ...
            451839, 451840, 451841, 451842, 451843, 451844, 451845, 451846,
            451847, 451848],
           dtype='int64', length=389)
14646.0
Int64Index([ 37952,  37953,  37954,  37955,  37956,  37957,  37958,  37959,
             37960,  37961,
            ...
            534953, 534954, 534955, 534956, 534957, 534958, 534959, 534960,
            534961, 537783],
           dtype='int64', length=2085)
18087.0
Int64Index([87634, 87635, 97432, 268243, 268244, 268245, 323876], dtype='int64')
12867.0
Int64Index([ 30556,  30557,  30558,  30559,  31020,  31021,  31022,  31023,
             31024,  31025,
            ...
            463459, 463460, 463461, 463462, 463463, 463464, 463465, 463466,
            463467, 463468],
           dtype='int64', length=551)
14096.0
Int64Index([317502, 317503, 317504, 317505, 317506, 317507, 317508, 323984,
            323985, 323986,
            ...
            528078, 528079, 528080, 528081, 528082, 528083, 528084, 528085,
            528086, 528087],
           dtype='int64', length=5128)
17365.0
Int64Index([ 52461,  52462,  52463,  52464,  52465,  52466,  52467,  52468,
             52469,  52470,
            ...
            503395, 503396, 503397, 503398, 503399, 503400, 503401, 503402,
            503403, 503404],
           dtype='int64', length=468)
17846.0
Int64Index([343000], dtype='int64')
17728.0
Int64Index([340552, 340553, 340554, 340555, 340556, 340557, 340558, 340559,
            340560, 340561,
            ...
            529590, 529591, 529592, 529593, 529594, 529595, 529596, 529597,
            529598, 529599],
           dtype='int64', length=169)
14769.0
Int64Index([ 34427,  34428,  34429,  34430,  34431,  34432,  34433,  34434,
             34435,  34436,
            ...
            533260, 533261, 533262, 533263, 533264, 533265, 533266, 533267,
            533268, 533269],
           dtype='int64', length=1094)
16369.0
Int64Index([205961, 205962, 205963, 205964, 205965, 205966, 205967, 205968,
            205969, 205970,
            ...
            487963, 487964, 487965, 487966, 487967, 487968, 487969, 487970,
            487971, 487972],
           dtype='int64', length=118)
15888.0
Int64Index([348578, 348579, 348580, 348581, 348582, 348583, 348584, 348585,
            348586, 348587, 348588, 348589, 349805, 349806],
           dtype='int64')
14446.0
Int64Index([148645, 148646, 148647, 148648, 148649, 148650, 148651, 148652,
            148653, 148654,
            ...
            541692, 541693, 541694, 541695, 541696, 541697, 541698, 541699,
            541700, 541701],
           dtype='int64', length=293)
15026.0
Int64Index([111945, 111946, 111947, 111948, 111949, 111950, 111951, 111952,
            111953, 111954, 111955, 111956, 111957, 111958, 111959, 111960,
            111961, 111962, 111963, 111964, 155144, 155145, 155146, 155147,
            155148, 155149, 349284, 349285, 349286, 349287, 349288, 349289,
            349290, 349291, 349292, 349293, 349294, 349295, 349296, 349297,
            349298, 349299, 349300, 349301, 349302, 349303, 349304, 349305,
            349306, 349307, 349308, 349309, 349310, 349311, 349312, 349313,
            349314, 349315, 349316, 349317, 349318],
           dtype='int64')
17511.0
Int64Index([   211,    212,    213,    214,    215,    216,    217,    218,
               219,    220,
            ...
            533236, 533237, 533238, 533239, 533240, 533241, 533242, 533243,
            533244, 533245],
           dtype='int64', length=1076)
17997.0
Int64Index([242908, 242909, 242910, 242911, 242912, 242913, 242914, 242915,
            242916, 242917,
            ...
            352826, 361604, 361605, 361685, 361686, 361687, 361688, 361689,
            361690, 361691],
           dtype='int64', length=180)
16669.0
Int64Index([354173, 354174, 354175, 354176, 354177, 354178, 354179, 354180,
            354181, 354182,
            ...
            472782, 472783, 472784, 472785, 472786, 472787, 472788, 472789,
            472790, 472791],
           dtype='int64', length=161)
13097.0
Int64Index([ 30544,  30545,  30546,  30547,  30548,  30549,  30550,  30551,
             30552,  30553,
            ...
            445144, 445145, 445146, 445147, 445148, 445149, 445150, 445151,
            445152, 445153],
           dtype='int64', length=437)
15901.0
Int64Index([256056, 256057, 256058, 256059, 256060, 256061, 256062, 256063,
            256064, 256065,
            ...
            493789, 493790, 493791, 493792, 493793, 493794, 493795, 493796,
            493797, 493798],
           dtype='int64', length=116)
15549.0
Int64Index([ 74027,  74028,  74029,  74030,  74031,  74032,  74033,  74034,
             74035,  74036,
            ...
            357725, 357726, 357727, 357728, 357729, 357730, 357731, 357732,
            357733, 357734],
           dtype='int64', length=116)
16689.0
Int64Index([345666, 345667, 345668, 345669, 345670, 345671, 345672, 345673,
            345674, 345675, 358248, 358249, 358250, 358478, 358479, 358480],
           dtype='int64')
13764.0
Int64Index([ 46440,  46441,  46442,  46443,  46444,  46445,  46446,  46447,
             46448,  46449,
            ...
            369742, 369743, 369744, 369745, 369746, 369747, 369748, 369749,
            369750, 369751],
           dtype='int64', length=208)
14653.0
Int64Index([ 44597,  44598,  44599,  44600,  44601,  44602,  44603,  44604,
             44605,  44606,
            ...
            538227, 538228, 538229, 538230, 538231, 538232, 538233, 538234,
            538235, 538236],
           dtype='int64', length=237)
13167.0
Int64Index([269955, 269956, 269957, 269958, 269959, 269960, 269961, 269962,
            269963, 269964, 269965, 269966, 269967, 285728, 285729, 285730,
            285731, 285732, 285733, 285734, 285735, 285736, 285737, 285738,
            285739, 285740, 285741, 285742, 285743, 285744, 285745, 285746,
            285747, 285748, 285749, 285750, 373848, 373849, 373850, 373851,
            373852, 373853, 373854, 373855, 373856, 373857, 373858, 373859,
            373860, 373861, 373862, 373863, 373864, 373865, 486230, 486231,
            486232, 486233, 486234, 486235, 486236, 486237, 486238, 486239,
            486240],
           dtype='int64')
17957.0
Int64Index([376661, 376662, 376663, 376664, 376665, 376666, 376667, 376668,
            376669, 376670, 376671, 376672, 376673, 376674, 376675, 376676,
            376677, 376678, 376679, 376680, 376681, 376682, 376683, 376684,
            376685, 376686, 376687, 376688, 376689, 376690, 376691],
           dtype='int64')
16374.0
Int64Index([128981, 128982, 128983, 128984, 128985, 128986, 128987, 128988,
            128989, 128990,
            ...
            376786, 376787, 376788, 376789, 376790, 376791, 376792, 376793,
            376794, 376795],
           dtype='int64', length=111)
12923.0
Int64Index([382432, 382433, 382434, 382435, 382436, 382437, 382438, 382439,
            382440, 382441, 382442, 382443, 382444, 382445, 382446, 382447,
            382448, 382449, 382450, 382451, 382452, 382453, 382454, 382455,
            382456, 382457, 382458, 382459, 382460],
           dtype='int64')
15365.0
Int64Index([ 74826,  74827,  74828,  74829,  74830,  74831,  74832,  74833,
             74834,  74835,
            ...
            464288, 464289, 464290, 464291, 464292, 464293, 464294, 464295,
            464296, 464297],
           dtype='int64', length=151)
13694.0
Int64Index([   728,    729,    730,    731,    732,    733,  33898,  33899,
             33900,  33901,
            ...
            529676, 529677, 529678, 529679, 529680, 529681, 529682, 529683,
            529684, 529685],
           dtype='int64', length=585)
16900.0
Int64Index([384485, 384486, 384487, 384488, 384489, 384490, 384491, 384492,
            384493, 384494, 384495, 384496, 384497, 384498, 384499, 384500,
            384501, 384502, 384503, 384504, 384505, 384506, 384507, 384508,
            384509, 384510, 384511, 384512, 384513, 384514, 384515, 384516,
            384517, 384518, 384519, 384520, 384521, 384522, 384523, 384524,
            384525, 384526, 384527, 384528, 384529, 384530, 384531, 384532,
            384533, 384534, 384535, 384536, 384537, 384538, 384539, 384540,
            384541, 384542, 384543, 384544, 384545, 384546, 384547, 384548,
            384549, 384550, 384551, 384552, 384553, 387526, 483078, 483079,
            483080, 483081, 483082, 483083, 483084, 483085, 492555, 492556,
            505593, 505594],
           dtype='int64')
18126.0
Int64Index([387537, 387538, 387539, 387540, 387541, 387542, 387543, 387544,
            387545, 387546, 387547, 387548, 387549, 387550, 387551, 387552,
            387553, 387554, 387555, 387556, 387557, 387558, 387559, 387560,
            387561, 387562, 387563, 387564, 387565, 387566, 387567, 387568,
            387569, 387570, 387571, 387572, 387573, 387574, 387575, 387576,
            387577, 387578, 387579, 387580, 387581, 387582, 387583, 387584,
            387585, 387586, 387587, 387588, 387589, 387590, 387591, 387592],
           dtype='int64')
13224.0
Int64Index([258815, 258816, 258817, 258818, 258819, 258820, 258821, 258822,
            258823, 258824,
            ...
            388693, 388694, 388695, 388696, 388697, 388698, 388699, 388700,
            388701, 388711],
           dtype='int64', length=109)
17589.0
Int64Index([154954, 154955, 154956, 154957, 154958, 154959, 154960, 154961,
            154962, 154963,
            ...
            389555, 389556, 389557, 389558, 389559, 389560, 389561, 389562,
            389563, 389564],
           dtype='int64', length=253)
13208.0
Int64Index([ 81553,  81554,  81555,  81556,  81557,  81558,  81559,  81560,
             81561,  81562,
            ...
            391898, 391899, 391900, 391901, 391902, 391903, 391904, 391905,
            392665, 392666],
           dtype='int64', length=150)
12908.0
Int64Index([77073, 77074, 229717, 392671], dtype='int64')
12446.0
Int64Index([395472, 395473, 395474, 395475, 395476, 395477, 395478, 395479,
            395480, 395481, 395482, 395483, 395484, 395485, 395486, 395487,
            395488, 395489, 395490, 395491, 395492, 395493, 395494, 395495,
            395496, 395497, 395498, 395499, 395500, 395501, 395502, 395503,
            395504, 395505, 395506, 395507, 395508, 395509, 395510, 395511,
            395512, 395513, 395514, 395515, 395516, 395517, 395518, 395519,
            395520, 395521, 395522, 395523, 395524, 395525, 395526, 395527,
            395528, 395529],
           dtype='int64')
14976.0
Int64Index([ 59097,  59098,  59099,  59100,  59101,  59102,  59103,  59104,
             59105,  59106,  59107,  59108,  59109,  59110,  59111,  59112,
            116249, 116250, 116251, 116252, 116253, 116254, 116255, 116256,
            116257, 116258, 116259, 116260, 116261, 116262, 116263, 116264,
            116265, 116266, 116267, 116268, 207079, 207080, 207081, 207082,
            207083, 207084, 207085, 207086, 207087, 207088, 207089, 319392,
            319393, 319394, 319395, 319396, 319397, 319398, 319399, 396988,
            396989, 396990, 396991, 396992, 396993, 396994, 396995, 396996,
            396997, 396998, 396999, 397000, 397001, 397002, 397003, 397020,
            397021],
           dtype='int64')
15482.0
Int64Index([ 32580,  32581,  32582,  32583,  32584,  32585,  32586,  32587,
            143354, 143355,
            ...
            497358, 497359, 497360, 497361, 497362, 497363, 497364, 497365,
            497366, 497367],
           dtype='int64', length=127)
17771.0
Int64Index([ 64854,  64855,  64856,  64857,  64858,  64859,  64860,  64861,
             64862,  64863,  64864,  64865,  64866,  64867,  64868,  64869,
             64870,  64871,  64872,  64873,  64874,  64875, 397589, 397590,
            397591, 397592, 397593, 397594, 397595, 397596, 397597, 397598,
            397599, 397600, 397601, 397602, 397603, 397604, 397605, 397606,
            397607, 397608, 397609, 397610, 397611, 397612, 397613, 397614,
            397615, 397616, 397617, 397618, 397619, 397620],
           dtype='int64')
13810.0
Int64Index([397956, 397957, 397958, 397959, 397960, 397961, 397962, 397963,
            397964, 397965, 397966, 397967, 397968, 397969, 397970, 397971,
            397972, 397973, 397974, 397975, 398147, 398150, 457127, 457128,
            457129, 457130, 457131, 457132, 457133, 457134, 457135, 457136,
            457137, 457138, 457139, 457140],
           dtype='int64')
15113.0
Int64Index([399845, 399846, 399847, 399848, 399849, 399850, 399851, 399852,
            399853, 399854,
            ...
            512983, 512984, 512985, 512986, 512987, 512988, 512989, 512990,
            512991, 512992],
           dtype='int64', length=101)
12783.0
Int64Index([360033, 360034, 360035, 360036, 360037, 360038, 360039, 360040,
            360041, 360042, 360043, 360044, 360045, 360046, 360047, 360048,
            360049, 360050, 397516, 397517, 397518, 397519, 397520, 397521,
            397522, 397523, 397524, 397525, 397526, 397527, 397528, 397529,
            397530, 397531, 397532, 397533, 397534, 397535, 397536, 397537,
            397538, 397539, 397540, 397541, 397542, 397543, 397544, 397545,
            397546, 397547, 397548, 397549, 400623, 400624, 400625, 400626,
            445512, 445513, 445514, 445515, 445516, 445517, 445518, 445519,
            445520, 445521, 445522, 445523, 445524, 535033, 535034, 535035,
            535036, 535037, 535038, 535039, 535040, 535041, 535042, 535043,
            535044, 535045, 535046, 535047, 535048, 535049],
           dtype='int64')
14830.0
Int64Index([402089, 402090, 402091, 402092, 402093, 402094, 402095, 402096,
            402097, 402098, 402099, 402100, 402101, 402102, 402103, 402104,
            402105, 402106, 402107, 402108, 402109, 402110, 402111, 402112,
            402113, 402114, 402115, 402116, 402117, 402118, 402119, 402120,
            402121, 402122, 402123, 402124, 402125, 402126, 402127, 402128],
           dtype='int64')
15498.0
Int64Index([ 14498,  17612,  17613,  17614,  17615,  17616,  17617,  17618,
             17619,  17620,
            ...
            534037, 534038, 534039, 534040, 534041, 534042, 534043, 534044,
            534045, 541541],
           dtype='int64', length=523)
14056.0
Int64Index([104567, 104568, 104569, 104570, 104571, 104572, 104573, 104574,
            104575, 104576,
            ...
            538165, 538166, 538167, 538168, 538169, 538170, 538171, 538172,
            538173, 538174],
           dtype='int64', length=1128)
14704.0
Int64Index([223713, 223714, 223715, 223716, 223717, 223718, 223719, 223720,
            223721, 223722,
            ...
            483193, 483194, 483195, 483196, 483197, 483198, 483199, 483200,
            483201, 506357],
           dtype='int64', length=415)
15006.0
Int64Index([407677, 407678, 407679, 407680, 407681, 407682, 407683, 407684,
            407685, 407686,
            ...
            407811, 407812, 407813, 407814, 407815, 407816, 407817, 407818,
            407819, 407820],
           dtype='int64', length=144)
17571.0
Int64Index([ 89736,  89737,  89738,  89739,  89740,  89741,  89742,  89743,
             89744,  89745,
            ...
            410505, 410506, 410507, 410508, 410509, 410510, 410511, 410512,
            410513, 410514],
           dtype='int64', length=299)
17836.0
Int64Index([413524, 413525, 413526, 413527, 413528, 413529, 413530, 413531,
            413532, 413533, 413534, 413535, 413536, 413537, 413538, 413539,
            413540, 413541, 413542, 413543, 413544, 413545, 413546, 413547],
           dtype='int64')
14607.0
Int64Index([131007, 131008, 131009, 413839, 413840, 413841, 413842, 413843,
            413844, 413845,
            ...
            488439, 488440, 488441, 488442, 497295, 497296, 497297, 497298,
            497299, 497300],
           dtype='int64', length=114)
16742.0
Int64Index([414248, 414249, 414250, 414251], dtype='int64')
17928.0
Int64Index([149267, 149268, 149269, 149270, 149271, 149272, 149273, 149274,
            149275, 149276, 149277, 149278, 149279, 149280, 149281, 149282,
            149283, 418050, 418051, 418052, 418053, 418054, 418055],
           dtype='int64')
17857.0
Int64Index([ 19979,  19980,  19981,  19982,  33701,  92223,  92224,  92225,
            123943, 123944, 124475, 146973, 146974, 146975, 146976, 169158,
            169528, 172875, 192705, 233105, 233106, 297444, 308860, 308861,
            308862, 308863, 308864, 323366, 323367, 363687, 363688, 418121,
            418122, 418123, 418124, 437230, 437231, 437232, 437233, 437234,
            437235, 445766, 452214, 452215, 452216, 452217, 452218, 490502,
            490503, 490504, 526015, 526016, 526017, 526018, 526019, 531294],
           dtype='int64')
12536.0
Int64Index([391355, 391356, 391357, 391358, 391359, 391360, 391361, 391362,
            391363, 391364,
            ...
            520134, 520135, 520136, 520137, 520138, 520139, 520140, 520141,
            520142, 520143],
           dtype='int64', length=273)
16966.0
Int64Index([155092, 155093, 155094, 155095, 155096, 155097, 155098, 155099,
            197006, 197007, 197008, 197009, 197010, 197011, 205309, 205310,
            205311, 205312, 205313, 205314, 236720, 236721, 241680, 243156,
            419379, 423960, 495930, 495931, 517617, 517618, 517619],
           dtype='int64')
14071.0
Int64Index([125524, 125525, 125526, 125527, 125528, 125529, 125530, 125531,
            125532, 125533,
            ...
            530647, 530938, 530939, 530940, 530941, 530942, 530943, 530944,
            530945, 530946],
           dtype='int64', length=333)
16601.0
Int64Index([425501, 425502, 425503, 425504, 425505, 425506, 425507, 425508,
            425509, 425510, 425511, 425512, 425513, 425514, 425515, 425516,
            425517, 425518, 425519, 425520, 425521, 425522, 425523, 425524,
            425525, 425526, 425527, 425528, 425529, 425530, 425531],
           dtype='int64')
14159.0
Int64Index([ 25555,  25556,  25557,  25558,  25559,  25560,  25561,  25562,
             25563,  25564,
            ...
            483621, 483622, 483623, 483624, 483625, 483626, 483627, 483628,
            483629, 483630],
           dtype='int64', length=1212)
12437.0
Int64Index([ 54688,  54689,  54690,  54691,  54692,  54693,  54694,  77211,
             80252,  80253,
            ...
            516146, 516147, 516148, 516149, 516150, 516151, 516152, 537460,
            537461, 537462],
           dtype='int64', length=201)
15527.0

Int64Index([ 39003,  39004,  39005,  39006,  39007,  39008,  39009,  39010,
             39011,  39012,
            ...
            486187, 486188, 486189, 486190, 486191, 486192, 486193, 486194,
            486195, 486196],
           dtype='int64', length=166)
17078.0
Int64Index([438413, 438414, 438415, 438416, 438417, 438418, 438419, 438420,
            438421, 438422, 438423, 438424, 438425, 438426, 438427, 438428,
            438429, 438430, 438431, 438432, 438433, 438434, 438435, 438436,
            438437, 438438, 438439, 438451],
           dtype='int64')
17979.0
Int64Index([133268, 133269, 133270, 133271, 133272, 133273, 133274, 133275,
            133276, 133277,
            ...
            439451, 439452, 439453, 439454, 439455, 439456, 439457, 439458,
            439459, 439460],
           dtype='int64', length=147)
12577.0
Int64Index([ 32250,  32251,  32252,  32253,  32254,  32255,  32256,  32257,
             32258,  32259,
            ...
            440093, 440094, 440095, 440096, 440097, 440098, 440099, 440100,
            440101, 440173],
           dtype='int64', length=148)
14502.0
Int64Index([ 76026,  76027,  76028,  76029,  76030,  76031,  76032,  76033,
             76034,  76035,
            ...
            482795, 482796, 482797, 482798, 482799, 482800, 482801, 482802,
            482803, 482804],
           dtype='int64', length=631)
15993.0
Int64Index([420878, 420879, 420880, 420881, 420882, 420883, 420884, 420885,
            420886, 420887,
            ...
            516764, 516765, 516766, 516767, 516768, 516769, 516770, 516771,
            516772, 516773],
           dtype='int64', length=560)
16253.0
Int64Index([137397, 137398, 137399, 137400, 137401, 137402, 137403, 137404,
            137405, 137406,
            ...
            374861, 374862, 374863, 374864, 374865, 374866, 374867, 374868,
            374869, 448059],
           dtype='int64', length=124)
15573.0
Int64Index([342303, 342304, 342305, 342306, 342307, 342308, 342309, 342310,
            342311, 342312,
            ...
            448125, 448126, 448127, 448128, 448129, 448130, 448131, 448132,
            448133, 448134],
           dtype='int64', length=104)
13047.0
Int64Index([     9,     10,     11,     12,     13,     14,     15,     16,
                17,     18,
            ...
            397488, 397489, 397490, 397491, 414836, 414837, 414838, 414839,
            448287, 448315],
           dtype='int64', length=196)
13623.0
Int64Index([ 90617,  90618,  90653,  90654,  90655,  90656,  90657,  90658,
             90659,  90660,  90661,  90662,  90663,  90664,  90665,  90666,
             90667, 122039, 122040, 122041, 122042, 122043, 122044, 122045,
            122046, 122047, 122048, 122049, 122050, 122051, 122052, 122053,
            122054, 122055, 122056, 122057, 122058, 122059, 122060, 122061,
            122062, 143395, 143396, 143397, 143398, 143399, 143400, 143401,
            143402, 143403, 143404, 189775, 189776, 189777, 189778, 189779,
            189780, 189781, 189782, 189783, 189784, 189785, 189786, 189787,
            189788, 189789, 451789, 451790, 451791, 451792, 451793, 451794,
            451795, 451796, 451797, 451798, 451799, 451800, 451801, 451802,
            451803, 451804, 451805, 451806, 451807, 451808],
           dtype='int64')
12473.0
Int64Index([209142, 209143, 209144, 209145, 209146, 209147, 209148, 209149,
            209150, 209151,
            ...
            400723, 400724, 400725, 455619, 455620, 455621, 455646, 455647,
            455648, 455709],
           dtype='int64', length=179)
14178.0
Int64Index([222358, 222359, 222360, 222361, 222362, 222363, 222364, 222365,
            222366, 222367,
            ...
            517074, 517075, 517076, 517077, 517078, 517079, 517080, 517081,
            517082, 517083],
           dtype='int64', length=327)
18014.0
Int64Index([460278, 460279, 460280, 460281, 460282, 460283, 460284, 460285,
            460286, 460287, 460288, 460289, 460290, 460291, 460292, 460293,
            460294, 460295, 460296, 460297, 460298, 460299, 460300, 460301,
            460302, 460303, 460304, 460305, 460306, 460307, 460308, 460309],
           dtype='int64')
16015.0
Int64Index([411328, 411329, 411330, 411331, 411332, 411333, 411334, 411335,
            411336, 411337,
            ...
            530022, 530023, 530024, 530025, 530026, 530027, 530028, 530029,
            530030, 530031],
           dtype='int64', length=184)
18117.0
Int64Index([465140, 465141, 465142, 465143, 465144, 465145, 465146, 465147,
            465148, 465149, 465150, 465151, 465152, 465153, 465154, 465155,
            465156, 465157, 465158, 465159, 465160, 465161, 465162, 465163,
            465164, 465165, 465166, 465167, 465168, 465169, 465170, 465171,
            465172, 465173, 465174, 465175, 465176, 465177, 465178, 465179,
            465180, 465181, 465182, 465183, 465184, 465185, 465186, 465187,
            465188, 465189, 465190, 465191, 465192, 465193, 465194, 465195,
            465196, 465197, 465198, 465199, 465200, 465201, 465202, 465203,
            465204, 465205, 465206, 465207, 465208, 465209, 465210, 465211,
            465212, 465213],
           dtype='int64')
16519.0
Int64Index([ 20681,  20682,  20683,  20684,  20685, 467481, 467482, 467483,
            467484, 467485, 467486, 467487, 467488],
           dtype='int64')
14666.0
Int64Index([468763, 468764, 468765, 468766, 468767, 468768, 468769, 468770,
            468771, 468772, 468773, 468774, 468775, 468776],
           dtype='int64')
15563.0
Int64Index([ 32752,  32753,  32754,  32755,  32756,  32757,  32758,  32759,
             32760,  32761,
            ...
            476666, 476667, 476668, 476669, 476670, 477662, 477663, 481164,
            516555, 516556],
           dtype='int64', length=117)
18122.0
Int64Index([259882, 259883, 259884, 259885, 259886, 259887, 259888, 259889,
            259890, 259891,
            ...
            517422, 517423, 517424, 517425, 517426, 517427, 517428, 517429,
            517430, 517431],
           dtype='int64', length=364)
12603.0
Int64Index([479544, 479545, 479546], dtype='int64')
15645.0
Int64Index([485907, 485908, 485909, 485910, 485911, 485912, 485913, 485914,
            485915, 485916, 485917, 485918, 485919, 485920, 485921, 485922,
            485923, 485924, 485925, 485926, 485927, 485928, 485929, 485930,
            485931, 485932, 485933, 485934, 485935, 485936, 485937, 485938,
            485939, 485940, 485941, 485942, 485943, 485944, 485945, 485946,
            485947, 485948, 485949, 485950, 485951, 485952, 485953, 485954,
            485955, 485956, 485957, 485958],
           dtype='int64')
16406.0
Int64Index([485959, 485960, 485961, 485962, 485963, 485964, 485965, 485966,
            485967, 485968, 485969, 485970, 485971, 485972, 485973, 485974,
            485975, 485976, 485977, 485978, 485979, 485980, 485981, 485982,
            485983, 485984, 485985, 485986, 485987, 485988, 485989, 485990,
            485991, 485992, 485993, 485994, 485995, 485996, 485997, 485998,
            485999, 486000, 486001, 486002, 486003, 486004, 486005, 486006,
            486007, 486008, 486009, 486010, 486011, 486012, 486013, 486014,
            486015, 486016, 486017, 486018, 486019, 486020, 486021],
           dtype='int64')
16712.0
Int64Index([113909, 113910, 113911, 113912, 113913, 113914, 113915, 113916,
            113917, 113918,
            ...
            487703, 487704, 487705, 487706, 487707, 487708, 487709, 487710,
            487711, 514202],
           dtype='int64', length=447)
17073.0
Int64Index([308970, 308971, 308972, 308973, 308974, 308975, 308976, 308977,
            308978, 308979,
            ...
            489075, 489076, 489077, 489078, 489079, 489080, 489081, 489082,
            489083, 489084],
           dtype='int64', length=174)
13268.0
Int64Index([122063, 122064, 122065, 122066, 122067, 122068, 122069, 122070,
            122071, 122072,
            ...
            489026, 489027, 489028, 489029, 489030, 489031, 489032, 489033,
            489034, 489091],
           dtype='int64', length=447)
15525.0
Int64Index([  1124,   1125,   1126,   1127,   1128,   1129,   1130,   1131,
              1132,   1133,
            ...
            534732, 534733, 534734, 534735, 534736, 534737, 534738, 534739,
            534964, 534965],
           dtype='int64', length=180)
13569.0
Int64Index([ 14473,  14474,  14475,  14476,  14477,  14478,  14479,  14480,
             14481,  14482,  14483,  14484,  14485,  14486,  14487,  14488,
             14489,  14490,  14491,  14492,  14493,  14494,  14495,  14496,
            489481, 489482, 489483, 489484, 489485, 489486, 489487, 489488,
            489489, 489490, 489491, 489492, 489493, 489494, 489495, 489496,
            489497, 489498, 489499, 489500, 489501, 489502, 489503, 489504,
            489505, 489506, 489507, 489508, 489509, 489510, 489511, 489512,
            489513, 489514, 489515, 489516, 489517, 489518, 489519, 489520,
            489521, 489522, 489523, 489524, 489525, 489526, 489527, 489528,
            489529, 489530, 489531, 489532, 489533, 489534, 489535, 489536,
            489537, 489538, 489539, 489540, 489541],
           dtype='int64')
16474.0
Int64Index([266776, 266777, 266778, 266779, 266780, 266781, 266782, 266783,
            266784, 266785,
            ...
            490071, 490072, 490073, 490074, 490075, 520297, 520298, 520299,
            520300, 520301],
           dtype='int64', length=368)
18139.0
Int64Index([486709, 486710, 486711, 486712, 486713, 486714, 486715, 486716,
            486717, 486718,
            ...
            488713, 488714, 488715, 488716, 488717, 488718, 488719, 491732,
            491733, 491886],
           dtype='int64', length=162)
17590.0
Int64Index([427278, 427279, 427280, 427281, 427282, 427283, 427284, 427285,
            427286, 427287,
            ...
            534082, 534083, 534084, 534085, 534086, 534087, 534088, 534089,
            534090, 534091],
           dtype='int64', length=201)
16024.0
Int64Index([503973, 503974, 503975, 503976, 503977, 503978, 503979, 503980,
            503981, 503982, 503983, 503984, 503985, 503986, 503987, 503988,
            503989, 503990, 503991, 503992, 503993, 503994, 503995, 503996,
            503997, 503998, 503999, 504000, 504001, 504002, 504003, 504004,
            504005, 504006, 504007, 504008, 504009, 504010, 504011, 504012,
            504013, 504014, 504015, 504016, 504017, 504018, 504019, 504020,
            504021, 504022, 504023, 504024, 504025, 504026, 504027, 504028,
            504029, 504030, 504031, 504032, 504033, 504034, 504035, 504036],
           dtype='int64')
13991.0
Int64Index([270224, 270225, 270226, 270227, 270228, 270229, 270230, 359260,
            359261, 359262, 359263, 359264, 359265, 359266, 359267, 359268,
            359269, 359270, 359271, 359272, 359273, 359274, 359275, 359276,
            359277, 359278, 359279, 359280, 359281, 359282, 359283, 359284,
            359285, 359286, 359287, 359288, 359289, 359290, 359291, 404380,
            404381, 404382, 404383, 404384, 404385, 404386, 404387, 404388,
            404389, 404390, 422471, 422472, 493687, 493688, 493689, 493690,
            493691, 493692, 504897, 504898, 504899, 504900, 504901, 504902,
            504903, 504904, 504905, 504906, 504907, 504908, 504909, 504910,
            504911, 504912, 504913, 504914, 504915, 504916, 504917, 504918,
            504919, 504920, 504921, 505079, 505080, 505081],
           dtype='int64')
15060.0
Int64Index([514243, 514244, 514245, 514246, 514247, 514248, 514249, 514250,
            514251, 514252,
            ...
            514631, 514645, 517621, 517622, 517623, 517624, 517625, 517626,
            517627, 517628],
           dtype='int64', length=121)
15907.0
Int64Index([189180, 189181, 189182, 189183, 189184, 189185, 189186, 189187,
            189188, 189189,
            ...
            530900, 530901, 530902, 530903, 530904, 530905, 530906, 530907,
            530908, 530909],
           dtype='int64', length=249)
16971.0
Int64Index([433190, 433191, 433192, 433193, 433194, 433195, 433196, 433197,
            433198, 433199, 433200, 433201, 433202, 433203, 433204, 433205,
            433206, 433207, 433208, 433209, 433210, 433211, 433212, 433213,
            433214, 433215, 433216, 433217, 433218, 433219, 433220, 433221,
            433222, 433223, 433224, 433225, 433226, 433227, 433228, 433229,
            433230, 533082],
           dtype='int64')
17490.0
Int64Index([228815, 228816, 228817, 228818, 228819, 228820, 228821, 228822,
            228823, 228824, 228825, 228826, 228827, 228828, 228829, 228830,
            228831, 228832, 234362, 347255, 347256, 347257, 347258, 347259,
            347260, 347261, 347262, 347263, 347264, 347265, 347266, 362423,
            362424, 362425, 362426, 362427, 362428, 362429, 362430, 362431,
            362432, 362433, 362434, 362435, 362436, 382681, 382682, 382683,
            382684, 382685, 382686, 382687, 382688, 382848, 382849, 382850,
            530204, 530205, 534291, 534292, 534308, 534309, 534310, 534311,
            540399, 540400, 540401, 540402, 540403, 540404, 540405, 540406,
            540407, 540408, 540409, 540410, 540411, 540412, 540413, 540414,
            540415, 540416, 540417, 540418, 540419, 540420],
           dtype='int64')
13521.0
Int64Index([511124, 511125, 511126, 511127, 511128, 511129, 511130, 511131,
            511132, 511133,
            ...
            538494, 538495, 538496, 538497, 538498, 538499, 538500, 538501,
            538502, 538503],
           dtype='int64', length=436)

In [59]:
# record shows these customers are returning customers so the code 'M' has a different meaning
# Let's check the total purchase value, code 'M' represents.


df_value = customer_df
df_value['Price'] = df_value['Quantity']*df_value['UnitPrice']


print('Label M as a percentage: '+str(sum(df_value.loc[df_value['StockCode']=='M']['Price'])
                                      *100/sum(df_value['Price'])))

Label M as a percentage: -0.7045133959654735

### Investigation of Discounts

In [31]:
# let's check the Customer Id 14527.0

customer_df.loc[customer_df['CustomerID']==14527.0].head(50)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
8963,537159,22112,CHOCOLATE HOT WATER BOTTLE,6,12/5/2010 13:17,4.95,14527.0,United Kingdom
8964,537159,22111,SCOTTIE DOG HOT WATER BOTTLE,1,12/5/2010 13:17,4.95,14527.0,United Kingdom
8965,537159,21479,WHITE SKULL HOT WATER BOTTLE,1,12/5/2010 13:17,3.75,14527.0,United Kingdom
8966,537159,22114,HOT WATER BOTTLE TEA AND SYMPATHY,6,12/5/2010 13:17,3.95,14527.0,United Kingdom
8967,537159,35598B,BLACK CHRISTMAS TREE 60CM,1,12/5/2010 13:17,2.95,14527.0,United Kingdom
8968,537159,22866,HAND WARMER SCOTTY DOG DESIGN,3,12/5/2010 13:17,2.10,14527.0,United Kingdom
8969,537159,22865,HAND WARMER OWL DESIGN,7,12/5/2010 13:17,2.10,14527.0,United Kingdom
8970,537159,22632,HAND WARMER RED RETROSPOT,3,12/5/2010 13:17,2.10,14527.0,United Kingdom
8971,537159,22684,FRENCH BLUE METAL DOOR SIGN 9,1,12/5/2010 13:17,1.25,14527.0,United Kingdom
8972,537159,22676,FRENCH BLUE METAL DOOR SIGN 1,1,12/5/2010 13:17,1.25,14527.0,United Kingdom
8973,537159,21481,FAWN BLUE HOT WATER BOTTLE,1,12/5/2010 13:17,2.95,14527.0,United Kingdom
8974,537159,84032A,CHARLIE+LOLA PINK HOT WATER BOTTLE,1,12/5/2010 13:17,2.95,14527.0,United Kingdom
8975,537159,21217,RED RETROSPOT ROUND CAKE TINS,1,12/5/2010 13:17,9.95,14527.0,United Kingdom
8976,537159,22946,WOODEN ADVENT CALENDAR CREAM,2,12/5/2010 13:17,16.95,14527.0,United Kingdom
8977,537159,22694,WICKER STAR,2,12/5/2010 13:17,2.10,14527.0,United Kingdom
8978,537159,82011B,BATHROOM SCALES RUBBER DUCKS,1,12/5/2010 13:17,3.75,14527.0,United Kingdom
8979,537159,22898,CHILDRENS APRON APPLES DESIGN,2,12/5/2010 13:17,1.95,14527.0,United Kingdom
8980,537159,22667,RECIPE BOX RETROSPOT,1,12/5/2010 13:17,2.95,14527.0,United Kingdom
8981,537159,22357,KINGS CHOICE BISCUIT TIN,1,12/5/2010 13:17,4.25,14527.0,United Kingdom
8982,537159,21630,FLOOR CUSHION ELEPHANT CARNIVAL,1,12/5/2010 13:17,8.95,14527.0,United Kingdom
8983,537159,21623,VINTAGE UNION JACK MEMOBOARD,1,12/5/2010 13:17,9.95,14527.0,United Kingdom
8984,537159,82484,WOOD BLACK BOARD ANT WHITE FINISH,1,12/5/2010 13:17,6.45,14527.0,United Kingdom
8985,537159,22765,NEWSPAPER STAND,1,12/5/2010 13:17,14.95,14527.0,United Kingdom
8986,537159,22193,RED DINER WALL CLOCK,2,12/5/2010 13:17,8.50,14527.0,United Kingdom
8987,537159,22072,RED RETROSPOT TEA CUP AND SAUCER,6,12/5/2010 13:17,3.75,14527.0,United Kingdom
8988,537159,84997A,GREEN 3 PIECE POLKADOT CUTLERY SET,1,12/5/2010 13:17,3.75,14527.0,United Kingdom
8989,537159,84997B,RED 3 PIECE RETROSPOT CUTLERY SET,2,12/5/2010 13:17,3.75,14527.0,United Kingdom
8990,537159,21258,VICTORIAN SEWING BOX LARGE,3,12/5/2010 13:17,12.75,14527.0,United Kingdom
9038,C537164,D,Discount,-1,12/5/2010 13:21,29.29,14527.0,United Kingdom
20164,538012,22357,KINGS CHOICE BISCUIT TIN,2,12/9/2010 12:32,4.25,14527.0,United Kingdom
20165,538012,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,3,12/9/2010 12:32,7.95,14527.0,United Kingdom
20166,538012,22625,RED KITCHEN SCALES,1,12/9/2010 12:32,8.50,14527.0,United Kingdom
20167,538012,21363,HOME SMALL WOOD LETTERS,1,12/9/2010 12:32,4.95,14527.0,United Kingdom
20168,538012,21361,LOVE LARGE WOOD LETTERS,1,12/9/2010 12:32,12.75,14527.0,United Kingdom
20169,538012,22193,RED DINER WALL CLOCK,1,12/9/2010 12:32,8.50,14527.0,United Kingdom
20170,538012,21257,VICTORIAN SEWING BOX MEDIUM,2,12/9/2010 12:32,7.95,14527.0,United Kingdom
20171,538012,21242,RED RETROSPOT PLATE,2,12/9/2010 12:32,1.69,14527.0,United Kingdom
20172,538012,20676,RED RETROSPOT BOWL,2,12/9/2010 12:32,1.25,14527.0,United Kingdom
20173,538012,21238,RED RETROSPOT CUP,2,12/9/2010 12:32,0.85,14527.0,United Kingdom
20174,538012,22469,HEART OF WICKER SMALL,2,12/9/2010 12:32,1.65,14527.0,United Kingdom
20175,538012,22694,WICKER STAR,2,12/9/2010 12:32,2.10,14527.0,United Kingdom
20176,538012,82484,WOOD BLACK BOARD ANT WHITE FINISH,2,12/9/2010 12:32,6.45,14527.0,United Kingdom
20177,538012,22470,HEART OF WICKER LARGE,1,12/9/2010 12:32,2.95,14527.0,United Kingdom
20178,538012,22794,SWEETHEART WIRE MAGAZINE RACK,1,12/9/2010 12:32,7.95,14527.0,United Kingdom
20179,538012,22795,SWEETHEART RECIPE BOOK STAND,1,12/9/2010 12:32,6.75,14527.0,United Kingdom
20180,538012,84029E,RED WOOLLY HOTTIE WHITE HEART.,2,12/9/2010 12:32,3.75,14527.0,United Kingdom
20181,538012,22835,HOT WATER BOTTLE I AM SO POORLY,2,12/9/2010 12:32,4.65,14527.0,United Kingdom
20182,538012,21485,RETROSPOT HEART HOT WATER BOTTLE,2,12/9/2010 12:32,4.95,14527.0,United Kingdom
20183,538012,22112,CHOCOLATE HOT WATER BOTTLE,2,12/9/2010 12:32,4.95,14527.0,United Kingdom

In [24]:
# It seems like the first record of this customer is a discount. This might be a customer returning after a special offer.
# Let's check about other Disconts
# the discount in the record 9038 is issued just after 4 minutes of an order so these discounts must be cashbacks
# but the order on 12/9/2010 12:32 hasn't been rewarded with cashbacks
# And returning of customer ID indicates the outlate trackes customer data.

customer_df.loc[(customer_df['CustomerID']==14527.0) & (customer_df['Description']=='Discount')].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
9038,C537164,D,Discount,-1,12/5/2010 13:21,29.29,14527.0,United Kingdom
31663,C539003,D,Discount,-1,12/15/2010 12:35,26.93,14527.0,United Kingdom
38609,C539589,D,Discount,-1,12/20/2010 13:14,13.88,14527.0,United Kingdom
44405,C540171,D,Discount,-1,1/5/2011 12:26,22.97,14527.0,United Kingdom

In [29]:
# Let's check if other customers are rewarded with discounts.

len(customer_df.loc[customer_df['Description']=='Discount']['CustomerID'].unique())

# So 24 unique customers have been discounted.

24

In [30]:
# Let's check if StockCode D represents similar number

len(customer_df.loc[customer_df['StockCode']=='D']['CustomerID'].unique())

24

In [60]:
# Let's check the total purchase value, code 'M' represents.


print('Label M as a percentage: '+str(sum(df_value.loc[df_value['StockCode']=='D']['Price'])
                                      *100/sum(df_value['Price'])))

Label M as a percentage: -0.05843626690560821

In [93]:
suggestions_cleaning = np.append(suggestions_cleaning,
                                 'Remove Special labels as they represents small values')
suggestions_cleaning

array(['After removing special labels, check negative value representation and sum them accordint to the custoemr',
       'Remove Special labels as they represents small values'],
      dtype='<U105')

### Investigating customerID null values

In [67]:
# First Hypothesis for customerID to be null is that these are local customers

customer_df.loc[customer_df['CustomerID'].isnull()].groupby(by = 'Country').count()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Value
Country,,,,,,,,
Bahrain,2,2,2,2,2,2,0,2
EIRE,711,711,711,711,711,711,0,711
France,66,66,66,66,66,66,0,66
Hong Kong,288,288,288,288,288,288,0,288
Israel,47,47,47,47,47,47,0,47
Portugal,39,39,39,39,39,39,0,39
Switzerland,125,125,125,125,125,125,0,125
United Kingdom,133600,133600,132146,133600,133600,133600,0,133600
Unspecified,202,202,202,202,202,202,0,202

In [ ]:
# So customer locality is not the cause
# let's observe invoice numbers for these null values.

In [71]:
customer_df.loc[customer_df['CustomerID'].isnull()].groupby(by = 'InvoiceNo').count().describe()

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Value
count,3710.000000,3710.000000,3710.000000,3710.000000,3710.000000,3710.0,3710.000000,3710.000000
mean,36.409704,36.017790,36.409704,36.409704,36.409704,0.0,36.409704,36.409704
std,96.098473,96.244052,96.098473,96.098473,96.098473,0.0,96.098473,96.098473
min,1.000000,0.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000
25%,1.000000,0.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000
75%,9.000000,9.000000,9.000000,9.000000,9.000000,0.0,9.000000,9.000000
max,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000,0.0,1114.000000,1114.000000

In [86]:
# more than 50 percent of null customers generated single invoice numbers.
# let's check customers generated more tahn a single invoice.

group_df = customer_df.loc[customer_df['CustomerID'].isnull()].groupby(by = 'InvoiceNo').count()

list_multiple = group_df.loc[group_df['Value']>1].index.tolist()

for entry in list_multiple:
    print(len(customer_df.loc[customer_df['InvoiceNo']==entry]['CustomerID'].unique()))

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [87]:
# These invoice numbers cannot be assigned for known customers.

In [94]:
suggestions_cleaning = np.append(suggestions_cleaning,'Remove all null value customers')

suggestions_cleaning

array(['After removing special labels, check negative value representation and sum them accordint to the custoemr',
       'Remove Special labels as they represents small values',
       'Remove all null value customers'], dtype='<U105')

In [97]:
with open('Dataframe cleaning suggestions.txt', 'w') as f:
    for item in suggestions_cleaning:
        f.write("%s\n" % item)